<div mat-dialog-title>
  <h2 class="tile">{{ title | translate }}</h2>
  <mat-slide-toggle [(ngModel)]="data.enabled">{{
    "Activat" | translate
  }}</mat-slide-toggle>
</div>

<div mat-dialog-content>
  <mat-form-field class="row">
    <input
      [placeholder]="'Nume' | translate"
      matInput
      [(ngModel)]="data.name"
      required
    />
  </mat-form-field>
</div>

<div mat-dialog-content>
  <mat-form-field class="row">
    <input
      [placeholder]="'Ordine' | translate"
      type="number"
      matInput
      [(ngModel)]="data.orderId"
      required
    />
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="data"
    cdkFocusInitial
    [disabled]="data.name == ''"
  >
    {{ "Salvează" | translate }}
  </button>
  <button mat-raised-button (click)="onNoClick()">
    {{ "Renunță" | translate }}
  </button>
</div>
