<form [formGroup]="categoryForm">
  <div mat-dialog-title>
    <h2 class="tile">{{ title | translate }}</h2>
    <mat-slide-toggle formControlName="enabled">{{
      "Activ" | translate
    }}</mat-slide-toggle>
  </div>
  <div mat-dialog-content>
    <mat-form-field floatLabel="always">
      <input
        [placeholder]="'Nume' | translate"
        matInput
        formControlName="name"
        required
      />
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <input
        [placeholder]="'Numar ordine' | translate"
        matInput
        formControlName="orderId"
        required
      />
    </mat-form-field>
    <mat-form-field
      floatLabel="always"
      appearance="standard"
      class="autocomplete-field"
    >
      <mat-label>{{ "Domeniu" | translate }}</mat-label>
      <input
        matInput
        formControlName="domain"
        [matAutocomplete]="domain"
      />
      <span matSuffix>
        <mat-icon
          class="input-icon"
          aria-label="Search"
          *ngIf="!categoryForm?.get('domain')?.value"
        >
          search
        </mat-icon>
        <button
          mat-icon-button
          *ngIf="categoryForm?.get('domain')?.value"
          (click)="categoryForm?.get('domain')?.reset()"
          aria-label="Clear"
        >
          <mat-icon>close</mat-icon>
        </button>
      </span>
    </mat-form-field>
    <mat-autocomplete #domain="matAutocomplete" [displayWith]="displayFn">
      <mat-option
        class="multiple-rows"
        *ngFor="let domain of filteredDomains | async"
        [value]="domain"
      >
        <span class="field label">{{ domain?.name }}</span>
      </mat-option>
    </mat-autocomplete>
  </div>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="categoryForm?.value"
      cdkFocusInitial
      color="warn"
      [disabled]="!categoryForm?.valid"
    >
      {{ "Salvează" | translate }}
    </button>
    <button mat-raised-button (click)="onNoClick()">
      {{ "Renunță" | translate }}
    </button>
  </div>
</form>
