<div class="wrapper">
  <book-filters
    class="side-panel filter-panel"
    *ngIf="bookFilters$ | async as filters"
    [filters]="filters"
    (filterChanged)="filterChanged($event)"
  ></book-filters>
  <div class="book-view">
    <book-list
      [displayMode]="displayMode$ | async"
      (openBook)="openBook($event)"
      (deleteBook)="deleteBook($event)"
      (disableBook)="disableBook($event)"
      (enableBook)="enableBook($event)"
      (displayModeChange)="changeDisplayMode($event)"
      (readBook)="readBook($event)"
      [books]="books$ | async"
      [totalElements]="bookFilters.totalElements"
    ></book-list>
    <mat-paginator
      class="paginator"
      *ngIf="bookFilters"
      (page)="pageChange($event)"
      [pageSize]="bookFilters.size"
      [length]="bookFilters.totalElements"
      [pageIndex]="bookFilters.page"
      [pageSizeOptions]="[25, 50, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
