@import "variables";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

.mat-sidenav-container {
  background-color: transparent;
}

.mat-drawer-content {
  overflow: unset !important;
}

.wrapper {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .book-view {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .wrapper {
    .book-view {
      padding: 0 10px;
    }
  }
  .paginator {
    width: auto;
    margin: 0 50px 0 50px;
    position: relative;
    z-index: 19;
    display: flex;
    align-content: center;
    justify-content: flex-end;

    ::ng-deep {
      .mat-paginator-container {
        flex-wrap: wrap;
        justify-content: flex-start;
        .mat-paginator-page-size-label {
          width: 80px;
        }
        .mat-paginator-range-label {
          margin: 0 5px;
        }
      }
    }
  }
}
