.expandable-actions {
  button {
    margin: 0 5px;
  }
}

.mat-paginator {
  position: sticky;
  bottom: 0;
  background-color: #f5f6f8;
  z-index: 2;
}

table {
  margin-left: 20px;
}

.mat-table {
  .mat-header-row {
    position: sticky;
    top: 0;
    background-color: #f5f6f8;
    z-index: 2;
  }
  .element-row {
    position: relative;
  }
  .element-row:not(.expanded) {
    cursor: pointer;
  }
  .element-row:not(.expanded):hover {
    background: #f5f5f5;
  }
  .element-row.expanded {
    border-bottom-color: transparent;
  }
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.mat-dialog-actions {
  margin-top: 20px;
}

.detail-row {
  display: flex;
}
