<div mat-dialog-title>
  <h2 class="tile">{{ "Istoric solicitare" | translate }}</h2>
  <div class="expandable-actions">
    <button mat-raised-button (click)="isExpanded = true">
      <mat-icon matTooltip="Inchide">expand_less</mat-icon>
    </button>
    <button mat-raised-button (click)="isExpanded = false">
      <mat-icon matTooltip="Deschide">expand_more</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content>
  <div class="inner-table">
    <div diameter="20" *ngIf="isLoading">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
    <mat-table matSort [dataSource]="dataSource | async" #table>
      <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "Autor" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let history" data-cell-label="Autor">
          <div>{{ history?.author }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="updatedOn">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "Data" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let history" data-cell-label="Data">
          <div>{{ history?.updatedOn?.split("T")[0] }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "Tip" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let history" mat-cell-label="Tip">
          <div>{{ history?.type }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="version">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "Versiune" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let history" mat-cell-label="Versiune">
          <div>{{ history?.version }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="changed">
        <mat-header-cell *matHeaderCellDef>
          {{ "Schimbări" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let history" data-cell-label="Schimbări">
          <div>{{ getListOfProperties(history?.changed) }}</div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        matRipple
        class="element-row"
        [cdkDetailRow]="row"
        [cdkDetailRowTpl]="tpl"
        [isExpanded]="isExpanded"
        (click)="isExpanded = null"
      ></mat-row>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[10, 25, 50, 100]"
      showFirstLastButtons
    ></mat-paginator>

    <ng-template #tpl let-history>
      <div class="mat-row detail-row" [@detailExpand] style="overflow: hidden">
        <table aria-hidden="true">
          <thead>
            <tr>
              <th id="">{{ "Proprietate schimbata" | translate }}</th>
              <th id="">{{ "Valoare" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of history?.changed">
              <td>{{ getProperty(row) }}</td>
              <td>{{ getDetails(row, history?.state) }}</td>
            </tr>
          </tbody>
        </table>
        <table *ngIf="history?.customerChanged" aria-hidden="true">
          <thead>
            <tr>
              <th id="">{{ "Proprietate client" | translate }}</th>
              <th id="">{{ "Valoare" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of history?.customerChanged">
              <td>{{ getProperty(row) | translate }}</td>
              <td>{{ getDetailsOfCustomer(row, history?.state) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </div>
</div>

<mat-dialog-actions>
  <button mat-raised-button (click)="onOkClick()">Ok</button>
</mat-dialog-actions>
