<form [formGroup]="form">
  <div mat-dialog-title>
    <h2 class="tile">{{ data.header }}</h2>
    <mat-slide-toggle formControlName="enabled">
      {{ "Activat" | translate }}
    </mat-slide-toggle>
  </div>
  <div mat-dialog-content>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input
            matInput
            required
            [placeholder]="'Nume' | translate"
            formControlName="name"
          />
        </mat-form-field>
      </div>
    </div>
    <div
      class="col-12"
      *ngIf="data?.defaultValue === true || data?.defaultValue === false"
    >
      <mat-slide-toggle class="reverse-toggle" formControlName="defaultValue">
        {{ "Valoare default" | translate }}
      </mat-slide-toggle>
    </div>
  </div>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="form.value"
      cdkFocusInitial
      [disabled]="!form.valid"
    >
      {{ "Salvează" | translate }}
    </button>
    <button mat-raised-button (click)="onNoClick()">
      {{ "Renunță" | translate }}
    </button>
  </div>
</form>
