<header class="page-header">
  <h1>{{ "Canale de comunicare" | translate }}</h1>

  <button mat-raised-button (click)="addCommunicationChannel()">
    <mat-icon>add</mat-icon>
    {{ "Adaugă" | translate }}
  </button>
</header>

<div class="like-mat-table elevated">
  <div class="mat-header-row">
    <div class="mat-header-cell">{{ "Nume" | translate }}</div>
  </div>

  <div
    class="mat-row"
    *ngFor="let communicationChannel of communicationChannels$ | async"
    [class.disabled]="!communicationChannel.enabled"
    (click)="editCommunicationChannel(communicationChannel)"
  >
    <div class="mat-cell">{{ communicationChannel.name }}</div>
    <div class="mat-cell column-actions">
      <mat-icon class="add-icon">edit</mat-icon>
      <mat-icon
        *ngIf="!communicationChannel.enabled"
        aria-hidden="false"
        (click)="deleteCommunicationChannel($event, communicationChannel?.id)"
        color="primary"
      >
        delete_sweep
      </mat-icon>
    </div>
  </div>
</div>
