<div class="wrapper-container" *ngIf="book$ | async as book">
  <button
    class="page-back-button"
    mat-icon-button
    routerLink="admin/catalog"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="active"
  >
    <mat-icon aria-hidden="false">keyboard_backspace</mat-icon>
  </button>
  <div class="info-wrapper container-fluid">
    <header class="page-header">
      <h1>{{ book.name }}</h1>
    </header>
    <div class="book-toolbar">
      <h2>{{ book.authorName }}</h2>
      <button mat-raised-button (click)="updateBook(book)">
        <mat-icon>edit</mat-icon>
        {{ "Salveaza" | translate }}
      </button>
    </div>
    <div [formGroup]="bookForm" class="template-form">
      <mat-form-field class="col-12 email-input">
        <input matInput style="display: none" />
        <ckeditor [editor]="editor" formControlName="description"></ckeditor>
      </mat-form-field>
    </div>
    <!-- <div [innerHtml]="bookForm?.get('description').value | safeHtml">
      <textarea matInput formControlName="description"></textarea>
    </div> -->
  </div>
  <div class="side-bar">
    <div class="sidebar-content">
      <section class="wrapper-image">
        <h3>{{ "Imagine copertă" | translate }}</h3>
        <div class="cover-img">
          <img
            *ngIf="!erroredImage"
            [src]="getCoverImage(book.id, times)"
            alt
            (error)="erroredImage = true"
          />
          <img
            *ngIf="erroredImage"
            [src]="'assets/images/image-placeholder.jpg'"
            alt
          />
        </div>
        <div class="buttons-container">
          <button mat-button class="choose-pic">
            <mat-icon>add</mat-icon>
            {{ "Adaugă imagine nouă" | translate }}
            <input type="file" (change)="onFileChanged($event, book)" />
          </button>
        </div>
      </section>
    </div>
    <div class="sidebar-footer">
      <div class="group">
        <mat-slide-toggle [checked]="book.enabled">
          {{ "Activat" | translate }}
        </mat-slide-toggle>
      </div>
    </div>
  </div>
</div>
