@import "variables";
@import "mixins";

// :host ::ng-deep .ck-editor__editable_inline {
//   min-height: 500px;
// }

.wrapper-container {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .info-wrapper {
    height: 100%;
    padding-bottom: 50px;
    overflow-y: auto;
  }
}

.book-toolbar {
  margin-right: calc(-1 * #{$library-base-padding} / 4);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  button {
    margin: 0 calc(#{$library-base-padding} / 4);
  }

  mat-accordion {
    width: 100%;

    .panel-title {
      font-weight: 900;
    }
  }

  h2 {
    text-transform: uppercase;
    font-size: 14px;
  }
}

.template-form {
  padding: 20px;
  width: 100%;
  height: 100%;
  .email-input {
    max-height: 600px;
    overflow-y: auto;
  }
}

.margin-left-50 {
  margin-left: 50px;
}
.side-bar {
  flex: 0 0 30%;
  max-width: 30%;
  height: 100%;
  display: flex;
  flex-flow: column;
  background-color: rgba(255, 255, 255, 0.4);
  border-left: 1px solid #e5e6ea;

  .sidebar-content {
    flex: 1;
    overflow-y: auto;

    section {
      padding: 15px;

      &.inline-groups {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &:first-child {
        h3 {
          margin-top: 0;
        }
      }
    }

    .wrapper-image {
      width: 70%;
      margin: 0 auto;

      .cover-img {
        width: 100%;
        padding-top: 100%;
        position: relative;
        margin-bottom: 10px;

        img {
          width: 100%;
          height: 150%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: $library-base-radius;
        }
      }

      .buttons-container {
        padding-top: 200px;
      }

      .media-element {
        display: flex;

        img {
          margin-right: 10px;
        }
      }

      .choose-pic {
        position: relative;

        input[type="file"] {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          opacity: 0;
          cursor: pointer;
          outline: none;
        }
      }
    }
  }

  .sidebar-footer {
    padding: 10px 15px;
    background-color: #fff;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: -3px 0 10px rgba(230, 233, 239, 0.9);

    .group {
      display: flex;
      align-items: center;

      .mat-form-field.order::ng-deep {
        margin-right: 10px;

        .mat-form-field-infix {
          width: 60px;
          padding: 0;
        }
        .mat-input-element {
          width: auto;
        }
      }
    }
  }
}

.mat-form-field.product-name {
  .mat-input-element {
    font-size: 40px;
    font-weight: bold;
  }

  .mat-form-field-wrapper {
    padding: 0;
  }
}

#create-shade-buton {
  margin-top: 50px;
}

@include library-mat-exp-panel;
