<form [formGroup]="notificationForm">
  <div class="tile row">
    <mat-slide-toggle class="col-6" formControlName="enabled">{{
      "Activ" | translate
    }}</mat-slide-toggle>
    <mat-slide-toggle
      class="col-6 user-toggle"
      formControlName="enableToMain"
      >{{ "Trimite utilizatorilor" | translate }}</mat-slide-toggle
    >
  </div>
  <div class="row notification-details">
    <mat-form-field class="col-6">
      <mat-label>{{ "Cheie" | translate }}</mat-label>
      <input matInput formControlName="key" />
    </mat-form-field>
    <mat-form-field class="col-6">
      <mat-label>{{ "Nume" | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'Nume' | translate"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field class="col-12">
      <mat-label>{{ "Variabile" | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'Variabile' | translate"
        formControlName="variables"
      />
    </mat-form-field>
  </div>

  <div class="row contact-buttons">
    <div class="col-6 add-email">
      <mat-label class="header">
        <button
          class="add-contact"
          mat-button
          mat-raised-button
          (click)="addContact('emails')"
          [matTooltip]="'Adaugă e-mail' | translate"
        >
          <mat-icon>add</mat-icon>
          {{ "Contacte e-mail" | translate }}
        </button>
      </mat-label>
      <div
        formArrayName="emails"
        *ngFor="
          let control of notificationForm.get('emails')['controls'];
          index as i
        "
      >
        <mat-form-field floatLabel="hidden">
          <input
            [placeholder]="'Introdu e-mail' | translate"
            matInput
            [formControl]="notificationForm.get('emails')['controls'][i]"
          />
          <span matSuffix>
            <button
              mat-button
              (click)="removeContact(i, 'emails')"
              [matTooltip]="'Șterge e-mail' | translate"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </span>
        </mat-form-field>
      </div>
    </div>
  </div>
</form>
