::ng-deep {
  .tile {
    .user-toggle {
      .mat-slide-toggle-label {
        justify-content: flex-end;
      }
    }
  }
}
.tile {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 20px 0;
  mat-slide-toggle {
    padding: 0;
  }
}

.notification-details {
  mat-form-field {
    margin: 10px 0;
  }
}

.add-phone {
  text-align: right;
}
.contact-buttons {
  .add-contact {
    margin-bottom: 20px;
  }
}
