<header class="page-header">
    <h1>{{ 'Categorii' | translate}}</h1>

    <button mat-raised-button (click)="addCategory()">
        <mat-icon>add</mat-icon>
        {{ 'Adaugă' | translate }}
    </button>
</header>


<div class="like-mat-table elevated">
    <div class="mat-header-row">
        <div class="mat-header-cell">{{ 'Nume' | translate }}</div>
    </div>

    <div class="mat-row" *ngFor='let category of categories$ | async' [class.disabled]="!category.enabled" (click)="editCategory(category)">
        <div class="mat-cell">{{category.name}}</div>
        <div class="mat-cell column-actions">
            <mat-icon class="add-icon">edit</mat-icon>
            <mat-icon
                *ngIf="!category.enabled"
                aria-hidden="false"
                (click)="delete($event, category?.id)"
                color="primary"
            >
                delete_sweep
            </mat-icon>
        </div>
    </div>
</div>
