<admin-tabs></admin-tabs>

<div class="wrapper">
    <div class="content">
        <div class="container">
            <h1> {{'Membri' | translate}} </h1>
            <accounts-table></accounts-table>
        </div>
    </div>
</div>