<h2 mat-dialog-title>{{ 'Deconectare' | translate }}</h2>
<div mat-dialog-content>{{ 'Ești sigur că vrei să ieși din aplicație?' | translate }}</div>
<div mat-dialog-actions>
  <button color="primary" mat-raised-button [mat-dialog-close]="true">
    {{ 'Da' | translate }}
  </button>
  <button mat-raised-button [mat-dialog-close]="false">{{ 'Renunță' | translate }}</button>
</div>
