<div class="navigation-container" #scrollContainer>
  <div
    *ngIf="isScrollable(scrollContainer)"
    class="top-scroll-button"
    (click)="scrollTopContainer(scrollContainer)"
    [class.disabled-button]="scrollContainer.scrollTop === 0"
    [class.has-more]="scrollContainer.scrollTop !== 0"
  >
    <mat-icon>expand_less</mat-icon>
  </div>
  <div class="navigation-content" (click)="onClick($event)">
    <ng-content></ng-content>
  </div>
  <div
    *ngIf="isScrollable(scrollContainer)"
    class="bottom-scroll-button"
    (click)="scrollBottomContainer(scrollContainer)"
    [class.disabled-button]="
      scrollContainer.scrollTop ===
      scrollContainer.scrollHeight - scrollContainer.clientHeight
    "
    [class.has-more]="
      scrollContainer.scrollTop !==
      scrollContainer.scrollHeight - scrollContainer.clientHeight
    "
  >
    <mat-icon>expand_more</mat-icon>
  </div>
</div>
