.navigation-container {
  z-index: 20;
  width: 100%;
  max-height: 100%;
  overflow: scroll;
  background-color: #f5f6f8;
  border: 1px solid rgba(153, 156, 166, 0.6);

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  & > .navigation-content {
    height: auto;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-self: flex-start;
    border: none;
    background-color: #fff;
  }

  .top-scroll-button {
    position: sticky;
    width: 60px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    padding-top: 5px;
    top: 0;
    background-color: #fff;

    &.has-more {
      box-shadow: 0 5px 5px -5px #333;
    }
  }

  .bottom-scroll-button {
    position: sticky;
    width: 60px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    padding-bottom: 5px;
    bottom: 0;
    background-color: #fff;

    &.has-more {
      box-shadow: 0 -5px 5px -5px #333;
    }
  }

  .disabled-button {
    cursor: default;
    box-shadow: none;
    mat-icon {
      color: rgba(0, 0, 0, 0.38);
    }
  }
}
