<div mat-dialog-title>
  <h2 class="tile">{{ data.confirmMessage }}</h2>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="data">
    {{ "Confirmă" | translate }}
  </button>
  <button mat-raised-button (click)="onNoClick()">
    {{ "Renunță" | translate }}
  </button>
</div>
