<button class="page-back-button" mat-icon-button (click)="goBack()">
  <mat-icon aria-hidden="false">keyboard_backspace</mat-icon>
</button>

<book-form [id]="id" (save)="saveBook($event)" (goBack)="goBack()"></book-form>
