<div mat-dialog-title>
    <h2 *ngIf="data.confirmationType === type.DELETE" class="tile">{{ 'Ștergere' | translate }}</h2>
    <h2 *ngIf="data.confirmationType === type.DEACTIVATE" class="tile">{{ 'Dezactivare' | translate }}</h2>
    <h2 *ngIf="data.confirmationType === type.ACTIVATE" class="tile">{{ 'Activare' | translate }}</h2>
</div>

<div mat-dialog-content>
    {{
        data.confirmationType === type.DELETE
          ? ('Ești sigur că vrei să ștergi cartea?' | translate)
          : data.confirmationType === type.ACTIVATE
          ? ('Ești sigur că vrei să activezi cartea?' | translate)
          : ('Ești sigur că vrei să dezactivezi cartea?' | translate)
      }}
</div>
<div mat-dialog-actions>
    <button color="primary" mat-raised-button [mat-dialog-close]="data.id">{{ 'Da' | translate }}</button>
    <button mat-raised-button [mat-dialog-close]="false">{{ 'Renunță' | translate }}</button>
  </div>