@import "variables";
@import "~bootstrap/scss/mixins/_breakpoints.scss";


:host ::ng-deep .ck-editor__editable_inline {
  min-height: 340px;
}

@include media-breakpoint-up(lg) {
  :host {
    display: flex;
    flex-flow: row;
    height: 100%;
    overflow: hidden;
  }

  .request-form {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
  }

  .rendering-area {
    flex: 0 0 50%;
    max-width: 50%;
    height: 100%;
    overflow: hidden;
  }
}

.wrapper-image {
  width: 70%;
  margin: 0 auto;

  .cover-img {
    width: 100%;
    padding-top: 100%;
    position: relative;
    margin-bottom: 10px;

    img {
      width: 80%;
      height: 105%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: $library-base-radius;
    }
  }

  .buttons-container {
    padding-top: 60px;
  }

  .media-element {
    display: flex;

    img {
      margin-right: 10px;
    }
  }

  .choose-pic {
    position: relative;

    input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      cursor: pointer;
      outline: none;
    }
  }
}

.email-input {
  max-height: 600px;
  overflow-y: auto;
}

.attachments-panel {
  position: absolute;
  bottom: 0;
  width: 100%;

  .panel-handel {
    background-color: $library-main-text-color;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #fff;
  }

  .panel-body {
    background-color: $library-main-text-color;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 600px;
    transition: all 0.6s cubic-bezier(0.85, 0, 0.15, 1);

    &.hide {
      max-height: 0;
    }
  }

  .attachments-set {
    display: flex;
    flex-flow: row nowrap;
    padding: 15px;

    .attachment-item {
      overflow: hidden;
      position: relative;

      button.file {
        width: 80px;
        padding: 7.5px 7.5px 0;
        box-sizing: content-box;

        .thumbnail {
          width: 80px;
          height: 80px;
          margin: 0 auto;
          line-height: normal;
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: center;
          background-color: rgba(255, 255, 255, 0.13);
          border-radius: $library-base-radius;
          overflow: hidden;
          position: relative;

          .mat-spinner {
            position: absolute;
          }

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        .file-name {
          font-size: 11px;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      button.delete-file {
        position: absolute;
        z-index: 2;
        opacity: 0;
        right: -20px;
        bottom: 7px;
        min-width: 16px;
        line-height: 16px;
        padding: 3px;
        background-color: $library-main-text-color;
        transition: all 0.6s cubic-bezier(0.85, 0, 0.15, 1);

        .mat-icon {
          font-size: 16px;
          height: 16px;
          width: 16px;
        }
      }

      &:hover,
      &:focus {
        button.delete-file {
          opacity: 1;
          right: 0;
        }
      }
    }
  }
}

.attachment-file {
  position: relative;
  margin-top: 30px;

  .section-label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .uploaded-files-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .file-item {
    border-radius: $library-base-radius;
    transition: box-shadow 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    margin-bottom: 3px;

    &:hover,
    &:focus {
      box-shadow: inset 0 0 0 1px rgba(36, 39, 62, 0.6);
    }

    button.file {
      padding: 10px 14px;
      flex: 1;
      text-align: left;

      .btn-content {
        display: flex;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .thumbnail {
        width: 47px;
        height: 47px;
        margin-right: 10px;
        border-radius: $library-base-radius;
      }

      .file-name {
        overflow: hidden;
        text-overflow: ellipsis;

        .date-created,
        .date-updated {
          line-height: 1;
        }
      }
    }
  }

  .mat-raised-button.upload-btn {
    margin: 15px;
    display: block;

    .mat-icon {
      position: relative;
      top: 4px;
      margin-right: 6px;
      font-size: 18px;
    }
  }
}

.toggle-mobile-map {
  display: none;
}
.map-hidden {
  display: none;
}
.map-mobile {
  display: none;
}

@include media-breakpoint-down(lg) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .page-header {
    padding-left: 30px;
  }

  .toggle-mobile-map {
    display: block;
  }

  .rendering-area {
    &.map-hidden {
      display: none;
    }
  }

  .map-desktop {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  .page-header {
    .group {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    mat-icon {
      z-index: 2;
    }
  }

  .map-show {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
  }
  .map-hidden {
    display: none;
  }
}
