<div class="request-form">
  <form [formGroup]="bookForm" (keydown.enter)="$event.preventDefault()">
    <div class="container-fluid">
      <header class="page-header">
        <h1>{{ "Adaugă carte" | translate }}</h1>
      </header>
      <section class="form-section">
        <header>
          <h3>{{ "Despre carte" | translate }}</h3>
        </header>
        <div class="row">
          <div class="col col-xxl-6">
            <mat-form-field floatLabel="always" class="required">
              <mat-label>{{ "Nume" | translate }}</mat-label>
              <input
                type="text"
                matInput
                [placeholder]="'Nume carte' | translate"
                formControlName="name"
              />
            </mat-form-field>
          </div>
          <div class="col col-xxl-6">
            <mat-form-field floatLabel="always" class="required">
              <mat-label>{{ "Nume autor" | translate }}</mat-label>
              <input
                type="text"
                matInput
                [placeholder]="'Nume autor' | translate"
                formControlName="authorName"
              />
            </mat-form-field>
          </div>
          <div class="col col-xxl-4">
            <mat-form-field floatLabel="always" class="required">
              <mat-label>{{ "Pagini" | translate }}</mat-label>
              <input
                type="text"
                matInput
                [placeholder]="'Numar de pagini' | translate"
                formControlName="numberOfPages"
              />
            </mat-form-field>
          </div>
          <div class="col col-xxl-4">
            <mat-form-field floatLabel="always">
              <mat-label>{{ "Cuprins de la" | translate }}</mat-label>
              <input
                type="number"
                matInput
                [placeholder]="'Cuprins de la' | translate"
                formControlName="from"
              />
            </mat-form-field>
          </div>
          <div class="col col-xxl-4">
            <mat-form-field floatLabel="always">
              <mat-label>{{ "Cuprins pana la" | translate }}</mat-label>
              <input
                type="number"
                matInput
                [placeholder]="'Cuprins pana la' | translate"
                formControlName="to"
              />
            </mat-form-field>
          </div>
          <div class="col col-xxl-6">
            <mat-form-field floatLabel="always">
              <mat-label>{{ "Domeniu" | translate }}</mat-label>
              <mat-select
                formControlName="domainId"
                [compareWith]="compareObjects"
              >
                <mat-option *ngFor="let domain of domains" [value]="domain.id">
                  {{ domain.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col col-xxl-6">
            <mat-form-field floatLabel="always">
              <mat-label>{{ "Categorie" | translate }}</mat-label>
              <mat-select
                formControlName="categoryId"
                [compareWith]="compareObjects"
              >
                <mat-option
                  *ngFor="let category of categories"
                  [value]="category.id"
                >
                  {{ category.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field floatLabel="always" class="radio required">
              <mat-label>{{ "Drepturi de autor" | translate }}</mat-label>
              <input matInput hidden required value="0" />
              <mat-radio-group formControlName="authorRights" required>
                <mat-radio-button [value]="false">
                  {{ "Nu" | translate }}
                </mat-radio-button>
                <mat-radio-button [value]="true">
                  {{ "Da" | translate }}
                </mat-radio-button>
              </mat-radio-group>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field class="email-input">
              <input matInput style="display: none" />
              <ckeditor
                [editor]="editor"
                formControlName="description"
              ></ckeditor>
            </mat-form-field>
          </div>
        </div>
      </section>
      <footer class="page-footer">
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="saveBook()"
          [disabled]="
            (!bookForm?.valid || !bookForm?.touched) &&
            bookForm?.get('from').value === null &&
              bookForm?.get('to').value === null
          "
        >
          {{ "Salvează cartea" | translate }}
        </button>
        <button mat-raised-button type="button" (click)="goBack.emit()">
          {{ "Renunță" | translate }}
        </button>
      </footer>
    </div>
    <section class="attachments-panel">
      <button
        type="button"
        mat-button
        class="panel-handel"
        (click)="showAttachmentsPanel = !showAttachmentsPanel"
      >
        <mat-icon *ngIf="showAttachmentsPanel == false"
          >keyboard_arrow_up</mat-icon
        >
        <mat-icon *ngIf="showAttachmentsPanel == true"
          >keyboard_arrow_down</mat-icon
        >
        {{ "Atașamente" | translate }}
        ({{ getCountAttachments(bookForm.value) }})
      </button>
      <div class="panel-body" [class.hide]="!showAttachmentsPanel">
        <div class="attachments-set" formArrayName="attachment">
          <div
            class="attachment-item"
            *ngFor="
              let item of bookForm?.get('attachment')['controls'];
              let i = index
            "
          >
            <input type="hidden" hidden [formControlName]="i" />
            <button
              type="button"
              class="file"
              mat-button
              (click)="downloadAttachment(item?.value)"
              [disabled]="downloading"
              matTooltip="Descarcă: {{ item?.value?.filename }}"
            >
              <div class="thumbnail">
                <mat-spinner *ngIf="downloading" diameter="20"></mat-spinner>
                <mat-icon *ngIf="!item?.value?.metadata?.thumb"
                  >description</mat-icon
                >
                <img
                  *ngIf="item?.value?.metadata?.thumb"
                  [src]="getThumb(item?.value?.metadata?.thumb)"
                  alt=""
                />
              </div>
              <div class="file-name">{{ item?.value?.filename }}</div>
            </button>
            <button
              mat-button
              class="delete-file"
              (click)="removeAttachment(item)"
              aria-label="Clear"
              matTooltip="Șterge: {{ item?.value?.filename }}"
              type="button"
              *ngIf="id === 'new'"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div
            class="attachment-item"
            *ngIf="bookForm?.get('attachment')['controls']?.length <= 5"
          >
            <button
              mat-button
              class="upload-btn file files"
              (click)="triggerUploadInput()"
              type="button"
              *ngIf="id === 'new'"
            >
              <div class="thumbnail">
                <mat-spinner *ngIf="uploading" diameter="20"></mat-spinner>
                <ng-container *ngIf="!uploading">
                  <mat-icon>add</mat-icon>
                  <div>{{ "Fișier" | translate }}</div>
                </ng-container>
              </div>
            </button>
            <input
              #fileInput
              hidden
              type="file"
              id="upload_req_file_input"
              (change)="uploadFile($event, fileInput)"
              accept="image/*,application/pdf"
            />
          </div>
        </div>
      </div>
    </section>
  </form>
</div>
<div class="rendering-area map-desktop">
  <section class="wrapper-image">
    <h3>{{ "Imagine copertă" | translate }}</h3>
    <div class="cover-img">
      <img *ngIf="!erroredImage" [src]="bookForm?.get('image').value" />
      <img
        *ngIf="erroredImage"
        [src]="'assets/images/image-placeholder.jpg'"
        alt
      />
    </div>
    <div class="buttons-container">
      <button mat-button class="choose-pic">
        <mat-icon>add</mat-icon>
        {{ "Adaugă imagine nouă" | translate }}
        <input type="file" (change)="onFileChanged($event)" />
      </button>
    </div>
  </section>
</div>
