<div class="user-profile">
  <form [formGroup]="accountForm">
    <div mat-dialog-title>
      <h2 class="tile">{{ "Editare profil" | translate }}</h2>
    </div>
    <div mat-dialog-content>
      <div class="row">
        <div class="col-12 profile-image">
          <span>
            <figure>
              <img
                *ngIf="
                  accountForm.get('profilePicture').value &&
                  accountForm.get('profilePicture').value != ''
                "
                [src]="accountForm.get('profilePicture').value"
                alt=""
              />
            </figure>
          </span>
          <a mat-button class="file-input" color="primary">
            <input
              id="cover-picture"
              type="file"
              accept="image/*"
              (change)="handleInputChanges($event)"
            />
            {{ "Schimba imaginea" | translate }}
          </a>
        </div>
        <div class="col-12">
          <mat-form-field>
            <input
              [placeholder]="'Nume' | translate"
              matInput
              required
              formControlName="name"
            />
          </mat-form-field>

          <ng-container *ngIf="data.email || data.emails">
            <mat-form-field
              class="email-field"
              *ngIf="data.email; else multipleEmail"
            >
              <input
                placeholder="Email"
                readonly
                matInput
                value="{{ data.email }}"
              />
            </mat-form-field>
            <ng-template #multipleEmail>
              <mat-form-field class="email-field">
                <ng-container *ngFor="let email of data.emails">
                  <input
                    placeholder="Email"
                    readonly
                    matInput
                    value="{{ email }}"
                  />
                </ng-container>
              </mat-form-field>
            </ng-template>
          </ng-container>

          <mat-form-field>
            <input
              type="password"
              [placeholder]="'Parolă' | translate"
              matInput
              formControlName="password"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              type="password"
              [placeholder]="'Parolă (confirmă)' | translate"
              matInput
              formControlName="passwordConfirm"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="onClick(accountForm.value)"
          cdkFocusInitial
          [disabled]="(!accountForm.touched && !accountForm.dirty) || !accountForm.valid"
        >
          {{ 'Salvează' | translate }}
        </button>
        <button mat-raised-button type="button" (click)="onClick()">
          {{ 'Renunță' | translate }}
        </button>
      </div>
  </form>
</div>
