.mat-prd-calendar-container {
  justify-content: space-around;
  min-width: 450px;
  background-color: white;

  .mat-prd-controls {
    button {
      margin: 1% 4%;
      justify-content: space-around;
      float: right;
    }
  }
  .mat-prd-calendar-items {
    display: flex;

    .mat-prd-calendar-item {
      flex-basis: 33.33%;
      min-width: 210px;
      padding: 1em;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      font-size: 14px;
      font-weight: 400;

      .mat-prd-menu {
        height: 86%;
        position: absolute;
        min-width: 30%;

        .mat-prd-presets-list {
          list-style-type: none;
          margin: 0px;
          padding: 0px;
          overflow-y: auto;
          max-height: 86%;
          position: relative;
          li {
            margin: 5px 0 5px 0;
            padding: 4%;
            cursor: pointer;
            background: #fafafa;
            color: #3f51b5;
            user-select: none;
          }

          li:hover {
            background: #3f51b5;
            color: #fff;
          }
        }
      }
    }
  }
}

.mat-prd-overlay {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background: white;
  border-radius: 2px;
}

.mat-prd-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0.2;
}
