<div class="mat-prd-calendar-container">
  <div class="mat-prd-calendar-items">
    <div class="mat-prd-calendar-item">
      <calendar
        [prefixLabel]="configService?.options?.startDatePrefix"
        [selectedDate]="fromDate"
        [minDate]="fromMinDate"
        [maxDate]="fromMaxDate"
        (selectedDateChange)="updateFromDate($event)"
      >
      </calendar>
    </div>
    <div class="mat-prd-calendar-item">
      <calendar
        [prefixLabel]="configService?.options?.endDatePrefix"
        [selectedDate]="toDate"
        [minDate]="toMinDate"
        [maxDate]="toMaxDate"
        (selectedDateChange)="updateToDate($event)"
      >
      </calendar>
    </div>
    <div
      class="mat-prd-calendar-item"
      *ngIf="
        configService?.options?.presets &&
        configService?.options?.presets.length > 0
      "
    >
      <div class="mat-prd-menu">
        <ul class="mat-prd-presets-list">
          <li
            *ngFor="let preset of configService?.options?.presets"
            (click)="updateRangeByPreset(preset)"
          >
            {{ preset.presetLabel }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mat-prd-controls">
    <button mat-button color="primary" (click)="applyNewDates($event)">
      {{ configService?.options?.applyLabel }}
    </button>
    <button mat-button (click)="discardNewDates($event)">
      {{ configService?.options?.cancelLabel }}
    </button>
  </div>
</div>
