<form [formGroup]="templateForm" class="template-form row">
  <div class="tile col-12">
    <h2>{{ "Template" | translate }}</h2>
    <div class="template-options">
      <mat-slide-toggle formControlName="enabled">{{
        "Activ" | translate
      }}</mat-slide-toggle>
      <mat-slide-toggle formControlName="default">{{'Implicit' | translate}}</mat-slide-toggle>
      <button
        mat-button
        (click)="deleteTemplate()"
        [matTooltip]="'Șterge șablon' | translate"
        [disabled]="templateForm?.get('default')?.disabled"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <mat-form-field class="col-12">
    <textarea
      [placeholder]="(type === 'EMAIL' ? 'Subiect' : 'Text') | translate"
      matInput
      formControlName="subject"
    ></textarea>
  </mat-form-field>
  <mat-form-field class="col-12 email-input" *ngIf="type === 'EMAIL'">
    <input matInput style="display: none" />
    <ckeditor [editor]="editor" formControlName="content"></ckeditor>
  </mat-form-field>
</form>
