.template-form {
  padding: 20px;
  width: 100%;
  .tile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .row {
    width: 100%;
  }
  .template-options {
    mat-slide-toggle {
      margin: 0 10px;
      vertical-align: middle;
    }
  }
  .email-input {
    max-height: 250px;
    overflow-y: auto;
  }
}
