<div class="request-form">
    <form [formGroup]="requestForm" (keydown.enter)="$event.preventDefault()">
      <div class="container-fluid">
        <header class="page-header">
          <h1 *ngIf="id === 'new'">{{ "Adaugă solicitare" | translate }}</h1>
          <h1 *ngIf="id !== 'new'">{{ "Editează solicitare" | translate }}</h1>
        </header>
        <section
          class="form-section"
          formGroupName="customer"
          (keydown.enter)="$event.preventDefault()"
        >
          <header>
            <h3>{{ "Despre mine" | translate }}</h3>
          </header>
          <div class="row">
            <div class="col-lg-6 col-xxl-6">
              <mat-form-field floatLabel="always" class="autocomplete-field">
                <mat-label>
                  {{ "Deja ai rezervat o o carte?" | translate }}
                </mat-label>
                <input
                  matInput
                  [placeholder]="'Introdu nume, email sau telefon' | translate"
                  [matAutocomplete]="customer"
                  [formControl]="customerSearch"
                  [readonly]="customerSearch?.value?.id"
                />
                <span matSuffix>
                  <mat-icon
                    class="input-icon"
                    *ngIf="!customerSearch?.value?.id"
                    aria-label="Search"
                  >
                    search
                  </mat-icon>
                  <button
                    type="button"
                    mat-icon-button
                    *ngIf="customerSearch?.value?.id"
                    (click)="resetClient($event)"
                    aria-label="Clear"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </span>
                <mat-autocomplete
                  #customer="matAutocomplete"
                  [displayWith]="displayCustomerFn"
                >
                  <mat-option
                    class="multiple-rows"
                    *ngFor="let option of customerOptions$ | async"
                    [value]="option"
                    (onSelectionChange)="selectCustomer(option)"
                  >
                    <span class="field label">{{ option?.name }}</span>
                    <span class="field contact">{{ option?.emails }}</span>
                    <span class="field contact">{{ option?.phones }}</span>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col col-xxl-6">
              <mat-form-field
                floatLabel="always"
                class="autocomplete-field required"
              >
                <mat-label>{{ "Nume" | translate }}</mat-label>
                <input
                  matInput
                  required
                  [placeholder]="'Introdu numele' | translate"
                  formControlName="name"
                />
                <span matSuffix>
                  <button
                    type="button"
                    mat-icon-button
                    *ngIf="requestForm?.get('customer')?.get('name')?.value"
                    (click)="resetClient($event, 'name')"
                    aria-label="Clear"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </span>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-xxl-6">
              <mat-label class="header">
                E-mail
                <button
                  mat-button
                  (click)="addFormCtrl('emails')"
                  [matTooltip]="'Adaugă E-mail' | translate"
                  [disabled]="requestForm?.disabled"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </mat-label>
              <div
                formArrayName="emails"
                *ngFor="
                  let control of requestForm?.get('customer')?.get('emails')[
                    'controls'
                  ];
                  index as i
                "
              >
                <mat-form-field
                  floatLabel="always"
                  class="autocomplete-field required"
                >
                  <mat-label>E-mail</mat-label>
                  <input
                    matInput
                    required
                    placeholder="adresa@mail.ro"
                    [formControl]="
                      requestForm?.get('customer')?.get('emails')['controls'][i]
                    "
                    [matAutocomplete]="customerEmail"
                  />
                  <span matSuffix>
                    <button
                      mat-button
                      (click)="removeFormCtrl('emails', i)"
                      [matTooltip]="'Șterge E-mail' | translate"
                    >
                      <mat-icon>{{ "delete" | translate }}</mat-icon>
                    </button>
                  </span>
                  <mat-autocomplete
                    #customerEmail="matAutocomplete"
                    [displayWith]="displayCustomerEmailFn"
                  >
                    <mat-option
                      class="multiple-rows"
                      *ngFor="let option of customerOptions$ | async"
                      [value]="option.emails"
                      (onSelectionChange)="selectCustomer(option)"
                    >
                      <span class="field label">{{ option?.name }}</span>
                      <span class="field contact">{{ option?.emails }}</span>
                      <span class="field contact">{{ option?.phones }}</span>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-6 col-xxl-6">
              <mat-label class="header">
                {{ "Telefon" | translate }}
                <button
                  mat-button
                  (click)="addFormCtrl('phones')"
                  [matTooltip]="'Adaugă telefon' | translate"
                  [disabled]="requestForm?.disabled"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </mat-label>
              <div
                formArrayName="phones"
                *ngFor="
                  let control of requestForm?.get('customer')?.get('phones')[
                    'controls'
                  ];
                  index as i
                "
              >
                <mat-form-field
                  floatLabel="always"
                  class="autocomplete-field required"
                >
                  <mat-label>{{ "Telefon" | translate }}</mat-label>
                  <input
                    matInput
                    required
                    placeholder="0123.456.789"
                    [formControl]="
                      requestForm?.get('customer')?.get('phones')['controls'][i]
                    "
                    [matAutocomplete]="customerPhone"
                  />
                  <span matSuffix>
                    <button
                      mat-button
                      *ngIf="i"
                      (click)="removeFormCtrl('phones', i)"
                      [matTooltip]="'Șterge numărul' | translate"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </span>
                  <mat-autocomplete
                    #customerPhone="matAutocomplete"
                    [displayWith]="displayCustomerPhoneFn"
                  >
                    <mat-option
                      class="multiple-rows"
                      *ngFor="let option of customerOptions$ | async"
                      [value]="option.phones"
                      (onSelectionChange)="selectCustomer(option)"
                    >
                      <span class="field label">{{ option?.name }}</span>
                      <span class="field contact">{{ option?.emails }}</span>
                      <span class="field contact">{{ option?.phones }}</span>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
          </div>
        </section>
        <section class="form-section">
          <div class="row">
            <div class="col col-xxl-6">
              <mat-form-field floatLabel="always">
                <mat-label>{{ "Facultate" | translate }}</mat-label>
                <input matInput formControlName="college" type="text" />
              </mat-form-field>
            </div>
          </div>
        </section>
        <section class="form-section">
          <header>
            <h3>{{ "Despre solicitare" | translate }}</h3>
          </header>
          <div class="row" *ngIf="id !== 'new'">
            <div class="col col-xxl-6">
              <mat-form-field floatLabel="always">
                <mat-label>{{ "Creată" | translate }}</mat-label>
                <input
                  matInput
                  formControlName="createdOn"
                  readonly
                  value="{{
                    requestForm?.get('createdOn')?.value | date: 'dd/MM/yyyy'
                  }}"
                />
              </mat-form-field>
            </div>
            <div class="col col-xxl-6">
              <mat-form-field floatLabel="always">
                <mat-label>{{ "Modificată" | translate }}</mat-label>
                <input
                  matInput
                  formControlName="updatedOn"
                  readonly
                  value="{{
                    requestForm?.get('updatedOn')?.value | date: 'dd/MM/yyyy'
                  }}"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col col-xxl-4">
              <mat-form-field floatLabel="always">
                <mat-label>{{ "Tip solicitare" | translate }}</mat-label>
                <mat-select
                  multiple="true"
                  formControlName="requestType"
                  [compareWith]="compareObjects"
                >
                  <mat-option
                    *ngFor="let requestType of requestTypes$ | async"
                    [value]="requestType"
                  >
                    {{ requestType.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col col-xxl-4">
              <mat-form-field floatLabel="always">
                <mat-label>{{ "Canal de comunicare" | translate }}</mat-label>
                <mat-select
                  multiple="true"
                  formControlName="communicationChannels"
                  [compareWith]="compareObjects"
                >
                  <mat-option
                    *ngFor="
                      let communicationChannel of communicationChannels$ | async
                    "
                    [value]="communicationChannel"
                  >
                    {{ communicationChannel.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col col-xxl-4">
              <mat-form-field floatLabel="always">
                <mat-label>{{ "Cartea dorita" | translate }}</mat-label>
                <mat-select
                  required
                  formControlName="book"
                  [compareWith]="compareObjects"
                >
                  <mat-option *ngFor="let book of books$ | async" [value]="book">
                    {{ book.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-form-field floatLabel="always" class="required">
                <mat-label>{{ "Detalii solicitare" | translate }}</mat-label>
                <textarea
                  matInput
                  required
                  formControlName="otherMentions"
                  [placeholder]="
                    'Informatii cu privire la solicitare' | translate
                  "
                  #autosize="cdkTextareaAutosize"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="4"
                  cdkAutosizeMaxRows="6"
                ></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-xxl-6">
              <mat-form-field floatLabel="always">
                <mat-label>{{ "Data inceperii" | translate }}</mat-label>
                <input
                  readonly
                  matInput
                  [matDatepicker]="picker"
                  (click)="picker.open()"
                  formControlName="requestDate"
                />
                <mat-datepicker #picker></mat-datepicker>
                <span matSuffix>
                  <mat-datepicker-toggle
                    [for]="picker"
                    *ngIf="!requestForm?.get('requestDate').value"
                  ></mat-datepicker-toggle>
                  <button
                    type="button"
                    mat-icon-button
                    *ngIf="requestForm?.get('requestDate').value"
                    (click)="requestForm?.get('requestDate').reset()"
                    aria-label="Clear"
                  >
                    <mat-icon>clear</mat-icon>
                  </button>
                </span>
              </mat-form-field>
            </div>
            <div class="col-6 col-xxl-6">
              <mat-form-field floatLabel="always" class="radio required">
                <mat-label>{{ "Solicitare importantă?" | translate }}</mat-label>
                <input matInput hidden required value="0" />
                <mat-radio-group formControlName="importantRequest" required>
                  <mat-radio-button [value]="false">{{
                    "Nu" | translate
                  }}</mat-radio-button>
                  <mat-radio-button [value]="true">{{
                    "Da" | translate
                  }}</mat-radio-button>
                </mat-radio-group>
              </mat-form-field>
            </div>
          </div>
        </section>
        <footer class="page-footer">
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="saveRequest()"
            [disabled]="!requestForm?.touched"
          >
            {{ "Salvează solicitarea" | translate }}
          </button>
          <button mat-raised-button type="button" (click)="goBack.emit()">
            {{ "Renunță" | translate }}
          </button>
        </footer>
      </div>
    </form>
  </div>
  <div class="rendering-area map-desktop">
  </div>
  