:host {
  white-space: nowrap;
  .language-info {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 40px;
    margin-right: 40px;

    .language-select {
      width: 50px;
      padding-top: 8px;
      ::ng-deep {
        img {
          object-fit: cover;
          border-radius: 50%;
          width: 20px;
          height: 20px;
        }
      }
      .language-img-bar {
        object-fit: cover;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        vertical-align: text-top;
        margin-bottom: 5px;
        margin-right: 5px;
      }
    }

    ::ng-deep {
      .mat-form-field-appearance-legacy {
        .mat-form-field-underline {
          display: none;
        }
        .mat-form-field-infix {
          padding: 0;
          border: 0;
        }
      }

      .mat-select-value,
      .mat-select-arrow {
        color: inherit;
      }
    }
  }
}
