<div class="language-info">
    <mat-form-field class="language-select">
        <img *ngIf="selectedLanguage === 'ro'" class="language-img-bar" [src]="'assets/images/ro-flag.png'" alt="" />
        <img *ngIf="selectedLanguage === 'en'" class="language-img-bar" [src]="'assets/images/en-flag.png'" alt="" />

        <mat-select [(ngModel)]="selectedLanguage" name="language" (selectionChange)="onLanguageSelect($event)">
            <mat-option *ngFor="let language of languages" [value]="language">
                <span>
                    <img
                      class="language-img"
                      width="15"
                      [src]="language === 'ro' ? 'assets/images/ro-flag.png' : 'assets/images/en-flag.png'"
                      alt=""
                    />
                  </span>
                  {{ language.toUpperCase() }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>