.mat-dialog-container {
  .mat-dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .tile {
      font: inherit;
      margin: 0;
    }

    .mat-slide-toggle {
      font-size: 14px;

      label {
        font-weight: 600;
      }
    }
  }
}

.mat-dialog-content {
  .actions {
    padding-bottom: 5px;
    margin-left: -10px;
    margin-right: -10px;

    button {
      margin: 0 10px;
    }
  }
}

.mat-dialog-actions {
  margin-bottom: -8px !important;
}
