@mixin library-input-placeholder {
  &::placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &::-webkit-input-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin library-mat-exp-panel {
  .mat-expansion-panel {
    box-shadow: none;

    .mat-panel-title {
      font-weight: bold;
    }

    &:not(.mat-expanded)
      .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
      background: transparent;
      color: $library-secondary-color;

      .mat-expansion-panel-header-title,
      .mat-expansion-indicator::after {
        color: inherit;
      }
    }
  }
}
