@import "variables";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

@mixin library-webkit-scrollbar() {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(
      90deg,
      rgba(153, 156, 166, 0) 50%,
      rgba(153, 156, 166, 1) 50%
    );
  }
  *:hover::-webkit-scrollbar-thumb {
    background: linear-gradient(
      90deg,
      rgba(153, 156, 166, 1) 50%,
      rgba(153, 156, 166, 1) 50%
    );
  }
}

@mixin library-firefox-scrollbar(
  $color: $library-darker-grey-color transparent,
  $width: thin
) {
  scrollbar-width: $width;

  @if $color != 0 {
    scrollbar-color: $color;
  }
}

@include media-breakpoint-up(xl) {
  :root {
    @include library-webkit-scrollbar;

    * {
      @include library-firefox-scrollbar;
    }
  }
}
