/* 
 * Bootstrap override
 */

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1600px,
  fhd: 1900px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1540px,
  fhd: 1840px,
);

/* 
* Library variables
*/

$library-main-color: #1a1b24;
$library-secondary-color: #373a41;
$library-error-color: #ca2c0d;
$library-main-text-color: #24273e;
$library-main-bg-color: #f5f6f8 /* #F0F2F5 */;
$library-main-grey-color: #b2b7c5 /* #ADB5C7 */;
$library-darker-grey-color: #999ca6;
$library-label-color: rgba(0, 0, 0, 0.54);

//$library-editor-preview-bg: #a6a9ae;

$library-base-toolbar-height: 64px;
$library-base-padding: 54px;

$library-base-radius: 3px; // TODO: Change to 3px via theme
$library-sidepanel-padding: 20px;

$library-disabled-opacity: 0.3;

$md-librarymaincolor: (
  50: #ffffff,
  100: #9a9aa7,
  200: #6b6b74,
  300: #575863,
  400: #4c4d57,
  500: #3d3e46,
  600: #26262b,
  700: #1d1d25,
  800: #13131b,
  900: #0e0e13,
  A100: #ffffff,
  A200: #727380,
  A400: #363742,
  A700: #202027,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-librarysecondarycolor: (
  50: #ffffff,
  100: #ffffff,
  200: #7f8185,
  300: #4e4f53,
  400: #37383b,
  500: #2f3035,
  600: #28292c,
  700: #24272c,
  800: #191b20,
  900: #0f1114,
  A100: #ffffff,
  A200: #56585f,
  A400: #272a33,
  A700: #171a22,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// CSS Variables
:host {
  --icon-color-stop-1: #adb5c7;
  --icon-color-stop-2: #607198;
  --icon-color-stop-3: #f2545a;
  --icon-color-stop-4: #792a2d;
}
