@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700&display=swap");

@import "~@angular/material/theming";

@import "variables";
@import "animations";

$general-typography: mat-typography-config(
  $font-family: "'Titillium Web', sans-serif",
);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($general-typography);
@include mat-core($general-typography);

$library-theme-primary: mat-palette($md-librarymaincolor);
$library-theme-accent: mat-palette($md-librarysecondarycolor, 500, A100, A400);

$library-theme: mat-light-theme($library-theme-primary, $library-theme-accent);

@include angular-material-theme($library-theme);

@import 'forms';
@import 'mat-dialog';
@import 'tables';

.mat-card {
  border-radius: $library-base-radius;

  .mat-card-image {
    border-radius: $library-base-radius $library-base-radius 0 0;
  }
}
