@import "variables";
@import "~bootstrap/scss/bootstrap-grid.scss";

* {
  //user-select: none;
  font-family: "Titillium Web", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: 14px;
  background-color: $library-main-bg-color;
  color: $library-main-text-color;
  overflow: hidden;
  box-sizing: border-box;

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@import "scrollbar";

.main-toolbar {
  justify-content: space-between;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  position: static;
  z-index: 20;

  &.mat-toolbar-single-row {
    padding-right: 0;
  }

  .branding {
    height: 58%;

    .logo {
      //width: 136px;
      display: block;
      width: auto;
      height: 100%;
    }
  }

  &.mat-primary {
    max-width: 100%;
    background-color: $library-main-color;
    box-shadow: 3px 0 15px rgba($library-main-text-color, 0.22);
    position: relative;

    @include media-breakpoint-down(xxl) {
      height: 50px;
    }
  }

  button {
    color: inherit;
    text-decoration: none;
    border-radius: 0;
    font-size: inherit;
    font-weight: inherit;
  }

  .menu-items {
    height: 100%;
    display: flex;
    align-items: center;
    app-nav-item {
      height: 100%;

      a {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 30px;
        border-radius: 0;

        span {
          color: inherit;
          font-weight: bold;
        }

        .mat-button {
          font-size: inherit;
        }
      }

      a.active {
        background-color: rgba(#ffffff, 0.25);
        color: inherit;
      }

      a:hover:not(.active) {
        background-color: rgba(#ffffff, 0.15);
      }
    }

    .footer-area {
      display: none;
    }
  }

  .burger-menu-toggle.mat-button {
    display: none;
  }

  app-user-controls.mobile {
    display: none;
  }
  app-user-controls.desktop {
    display: block;
  }
}

@media only screen and (min-width: 320px) and (max-width: 980px) {
  .main-toolbar.mat-primary {
    font-size: 14px;
    flex-flow: row-reverse;
    padding-left: 0;
    padding-right: 16px;

    .burger-menu-toggle.mat-button {
      display: block;
      height: 100%;
    }

    app-user-controls.mobile {
      display: block;
    }
    app-user-controls.desktop {
      display: none;
    }

    .menu-items {
      position: absolute;
      top: 50px;
      left: 0;
      opacity: 1;
      height: calc(100vh - 50px);
      overflow-x: hidden;
      overflow-y: auto;
      background-color: $library-main-color;
      box-shadow: 3px 0 15px rgba($library-main-text-color, 0.22);
      flex-flow: column;
      align-items: flex-start;
      transition: all ease-in-out 0.15s;

      &:not(.show-menu) {
        //display: none;
        left: -100%;
        opacity: 0;
      }

      app-nav-item {
        width: 100%;
        height: auto;

        a {
          display: block;
          height: auto;
          text-align: left;
          padding: 0 16px;
        }
      }
      .user-actions {
        height: auto;
      }
      .footer-area {
        display: block;
        margin-top: auto;
        padding: 16px;

        .widget {
          margin-top: 16px;

          &.contact {
            h4 {
              font-size: inherit;
              font-weight: 600;
            }
            p {
              margin: 0;
              line-height: normal;
              font-weight: normal;
            }
          }

          &.social {
            margin-left: -16px;
          }
        }
      }
    }
  }
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;

  h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    padding: 19px 0;
  }

  .flex-break {
    flex-basis: 100%;
    height: 0;
  }

  @include media-breakpoint-down(md) {
    h1 {
      font-size: 20px;
    }
  }
}

.page-footer {
  margin: 0px 0px 20px 0px;
  button {
    margin: 10px;
  }
}

.page-back-button.mat-icon-button {
  position: absolute;
  z-index: 3;
  top: 20px;
  left: 0;
  color: $library-darker-grey-color;
}

.roof-card.disabled {
  opacity: $library-disabled-opacity;

  mat-card {
    cursor: not-allowed !important;
  }
}

.subsection-title {
  text-transform: uppercase;
}

.disabled {
  opacity: $library-disabled-opacity;
}

section {
  header {
    h3 {
      text-transform: uppercase;
      font-size: 14px;
      margin: 20px 0;
    }

    h3.primary {
      color: $library-secondary-color;
    }
  }
}

.tabs-bar {
  background-color: #fcfcfd; // TODO: color
  box-shadow: 3px 0 10px rgba(#e6e9ef, 0.9);
  position: relative;

  button {
    height: 54px; // TODO: Subtract from base height
    background: none;
    border: none;
    border-radius: 0;
    padding: 0 10px;
    color: $library-darker-grey-color;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &::after {
      content: "";
      height: 3px;
      background-color: $library-darker-grey-color;
      border-radius: $library-base-radius $library-base-radius 0 0;
      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;
      opacity: 0;
      transform: scale(0);
    }

    &.active::after {
      //animation: .15s ease-out 0s 1 zoomIn;
      opacity: 1;
      transform: scale(1);
    }

    .badge {
      vertical-align: unset;
      border-radius: 30px;
      //background-color: rgba(#AEB2BD, 0.2);
      padding: 0 5px;
      margin-left: 5px;
    }
  }
}

.side-panel {
  background-color: #ffffff;
  border-right: 1px solid #e5e6ea;
  // padding: 15px $library-sidepanel-padding;
  height: 100%;
  // overflow-y: auto;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mat-expansion-panel {
    margin-left: (-$library-sidepanel-padding);
    margin-right: (-$library-sidepanel-padding);
    border-radius: 0 !important;
    box-shadow: none;
    color: $library-main-text-color;

    .mat-expansion-panel-header {
      border-bottom: 1px solid rgba(#aeb2bd, 0.24);
      padding: 0 $library-sidepanel-padding;

      .mat-expansion-indicator::after {
        color: rgba(#aeb2bd, 0.62);
      }
    }

    .mat-expansion-panel-header-title {
      color: $library-secondary-color;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      @include media-breakpoint-down(md) {
        font-size: 14px;
      }
    }

    .mat-expansion-panel-content {
      padding-top: 15px;

      .mat-expansion-panel-body {
        padding-left: $library-sidepanel-padding;
        padding-right: $library-sidepanel-padding;
      }

      .mat-form-field:last-of-type {
        .mat-form-field-wrapper {
          margin-bottom: -1.25em;
        }
      }
    }
  }

  .mat-form-field {
    display: inline;

    .mat-form-field-infix {
      width: 100%;
    }
  }

  .fieldset {
    + .fieldset {
      margin-top: 30px;
    }
    .fieldset-label {
      display: block;
      margin-bottom: 15px;
      font-weight: 600;
    }
  }
}

.mat-autocomplete-panel {
  .mat-option.multiple-rows {
    white-space: normal;
    line-height: normal;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    .mat-option-text .field {
      display: block;
      font-size: 14px;

      &:not(.label) {
        opacity: 0.8;
      }

      &.label {
        font-weight: 600;
      }
    }
  }
}

.rendering-area {
  // background-color: rgba(#fff, .70);
  border-left: 1px solid #e5e6ea;

  // &, & .toolbar {
  //     box-shadow: 0 0 15px rgba(#E6E9EF, .90);
  // }

  .toolbar {
    background-color: #fff;
    position: relative;
    z-index: 1;
    padding: 20px;
    border-bottom: 1px solid #e5e6ea;
  }
}

.status-btn .badge,
.status-cell .label {
  position: relative;

  &::after {
    content: "";
    background-color: currentColor;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    opacity: 0.2;
  }
}

.container-fluid {
  padding-left: 40px;
  padding-right: 40px;
}

.wrapper-title {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .revert-img-button {
    margin-bottom: 20px;
  }
  .row {
    margin: 0;
    .cover-img {
      width: 60%;
      margin: 10px 0;
    }
  }
}

.wrapper-label {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.mat-form-field-wrapper {
  .mat-input-element {
    line-height: 20px;
    @include media-breakpoint-down(md) {
      font-size: 14px;
    }
  }
}

.shade-group-header {
  label {
    line-height: 18px;
  }
}

.filter-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;

  .filters {
    padding: 15px $library-sidepanel-padding;
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 1;
    max-width: 240px;
    min-width: 240px;
    transition: all ease-in-out 0.15s;

    &.side-bar-collapsed {
      opacity: 0;
      max-width: 0;
      min-width: 0;
    }
    .mat-form-field-label {
      line-height: 20px;
    }
  }

  .buttons-wrapper {
    overflow: hidden;
    justify-self: flex-end;
    background-color: #fff;
    padding-top: 20px;
  }

  .collapse-button {
    width: 100%;
    min-width: auto;
    color: $library-main-grey-color;
    margin: 0;
    padding: 0;
    text-align: left;
    align-self: flex-start;

    .collapse-icon {
      font-size: 30px;
      margin-left: 20px;
      position: relative;
      top: 2px;
    }
    .collapse-text {
      font-size: 16px;
      padding-left: 10px;
      color: $library-darker-grey-color;
    }
  }

  .side-bar-collapsed ~ .button-wrapper {
    height: calc(100% + 15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    bottom: 0;

    .collapse-button {
      width: 40px;
      text-align: center;

      .collapse-icon {
        margin-left: 0;
      }
    }
  }

  .button-wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-color: #fff;

    .add-button {
      width: 100%;
      margin: 0 10px;
      align-self: center;
    }
  }

  .add-icon {
    bottom: 0;
    width: 35px;
    padding: 0;
    margin: 0 10px;
    min-width: auto;

    mat-icon {
      padding: 0;
      margin: 0;
    }
  }

  & .mat-expansion-panel .mat-expansion-panel-content {
    padding-top: 0;

    .mat-expansion-panel-body {
      padding-bottom: 0;
    }
  }
}

.mat-prd-calendar-container {
  min-height: 330px !important;
}

.sidemenu::ng-deep {
  .item.active {
    .mat-button-focus-overlay {
      opacity: 0.04;
    }
  }
}

.wrapper {
  display: flex;
  flex-flow: row;
  height: 100%;
  overflow: hidden;
}

.sidemenu {
  background-color: darken($library-main-bg-color, 7%);
  display: flex;
  flex-flow: column;
  flex: 0 0 250px;
  height: 100%;
  overflow-y: auto;

  .item {
    text-align: left;
    position: relative;
    overflow: hidden;
    font-weight: 600;
    border-radius: 0;
    //line-height: 56px;
    flex: 1;
    max-height: 56px;

    &.active {
      &::after {
        content: "";
        width: 30px;
        height: 30px;
        background-color: $library-main-bg-color;
        transform: translateY(-50%) rotate(45deg);
        position: absolute;
        right: -25px;
        top: 50%;
      }
    }

    &::ng-deep {
      .mat-button-wrapper {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
      }
    }
  }
}

.content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 20px;
}

// ELEMENT-DIALOG-IMG
.element-cover {
  text-align: center;

  .thumbnail {
    width: 100px;
    height: 100px;
    margin: 0 auto;

    img {
      width: 100px;
      height: 100%;
      object-fit: cover;
    }
  }

  button.has-thumbnail {
    margin: 10px auto 0;
    padding-top: 10px;
  }
}

.mat-dialog-actions {
  margin-top: 30px;
  justify-content: flex-end;
}

// MENU ITEMS

.language-avatar {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 40px;
  width: auto;
  padding: 0 16px 0 0;
  .language-info {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 40px;
    margin-right: 40px;

    .language-select {
      width: 50px;
      padding-top: 8px;
      ::ng-deep {
        img {
          object-fit: cover;
          border-radius: 50%;
          width: 20px;
          height: 20px;
        }
      }
      .language-img-bar {
        object-fit: cover;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        vertical-align: text-top;
        margin-bottom: 5px;
        margin-right: 5px;
      }
    }
    .mat-form-field-appearance-legacy .mat-form-field-infix {
      padding: 0;
      border: 0;
    }
  }

  .avatar-info {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: 10px;
    height: 40px;

    .user-image {
      width: 40px;
      height: 40px;
      margin: 0;
      .menu-toggle {
        object-fit: cover;
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }
    }
  }
}

// INCREMENT- DECREMENT BUTTONS
.input-number-buttons {
  width: 110px;
  height: 35px;
  display: flex;
  // position: absolute;
  justify-content: space-between;
  align-content: center;
  border: 1px solid rgba($library-main-text-color, 0.22);
  border-radius: 3px;
  z-index: 4;
  // bottom: -12px;
  // left: 0;

  mat-icon {
    color: $library-main-color;
    // vertical-align: sub !important;
  }

  button {
    width: 35px;
    height: 34px;
    line-height: 0;
    // align-self: center;
    border-radius: 3px;
  }
  .minus-button {
    border-right: 1px solid rgba($library-main-text-color, 0.22);
  }
  .plus-button {
    border-left: 1px solid rgba($library-main-text-color, 0.22);
  }

  @include media-breakpoint-down(xl) {
    width: 140px;
    height: 30px;

    button {
      width: 30px;
      height: 30px;
    }
  }
}

.requisites-list {
  .element-input {
    display: flex;
    align-content: center;
    justify-content: space-between;
    position: relative;

    min-height: 42px;
    color: $library-main-text-color;
    border-radius: 3px;
    border-bottom: 1px solid rgba($library-main-grey-color, 0.3);
    padding-right: 5px;
    margin-right: 80px; // space for actions

    &:hover {
      background-color: rgba($library-main-grey-color, 0.3);
    }

    span {
      color: $library-main-text-color;
    }

    .label-field {
      flex: 2;
      overflow: hidden;

      img {
        width: 52px;
        height: 52px;
        object-fit: contain;
        border-radius: 3px;
        vertical-align: middle;
        margin-right: 10px;
      }

      mat-select {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        max-width: 300px;

        &.dummy-select {
          display: none;
        }
      }

      .unit {
        margin-left: 5px;
        line-height: 20px;
      }

      .mat-form-field-wrapper {
        padding: 0;
        height: 100%;
      }
      .mat-form-field-flex {
        height: 100%;
        align-items: center;
      }

      .mat-form-field-prefix {
        color: $library-main-text-color;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 75%;
      }

      .mat-form-field-infix {
        width: 100%;
        line-height: 20px;
        text-align: right;

        border: 0;
        height: 100%;
        display: flex;

        input {
          line-height: 20px;
          order: 2;
          width: 50px;
        }

        .mat-form-field-label-wrapper {
          position: relative;
        }

        .mat-form-field-label {
          white-space: normal;

          position: relative;
          width: 100%;
          height: 100%;
          top: 0;
          display: flex;
          align-items: center;

          > span {
            padding-right: 5px;
            line-height: 1;
          }
        }
      }

      .length {
        margin-left: 10px;
      }
    }

    .editable-field {
      margin-left: 20px;
      align-items: center;
      display: flex;

      .value {
        line-height: normal;
        display: flex;
        align-items: center;
      }

      input {
        width: 40px;
        color: $library-main-text-color;
        font-weight: bold;
      }

      .unit {
        color: $library-darker-grey-color;
        font-weight: bold;
        line-height: 20px;
        margin-left: 5px;
        margin-right: 7px;
      }
      .mat-form-field-suffix {
        padding: 0;
        line-height: 20px;

        input {
          margin-bottom: 20px;
          margin-left: 15px;
        }
      }
      .mat-form-field-wrapper {
        padding: 0;
      }
      .mat-form-field-infix {
        border: 0;
        width: auto;
      }
    }

    .selectable-input {
      width: 100%;

      .mat-select-arrow {
        margin: 0 10px;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: absolute;
      left: 100%;
      padding: 0.4375em 0; // Same as `.mat-form-field-appearance-legacy .mat-form-field-infix`
      bottom: 1px;
      height: 100%;

      button {
        padding: 0;
        min-width: 30px;
        width: 30px;
        height: 30px;
        line-height: 13px;
        margin-left: 10px;

        span {
          align-self: center;
          font-size: 14px;
          color: $library-main-grey-color !important;
        }
        mat-icon {
          font-size: 16px;
          width: 12px;
          height: 12px;
          align-self: center;
          margin-right: 5px;
          color: $library-main-text-color;
          vertical-align: sub;
        }
      }
    }
  }
}

.roof-element-input-dropdown {
  max-width: 500px !important;
  mat-option {
    height: 40px;
    margin: 3px 0;
  }

  img {
    width: 50px;
    height: auto;
    vertical-align: middle;
  }

  span {
    color: $library-main-text-color;
  }
}

.mat-simple-snackbar {
  span {
    font-size: 16px;
  }
}
.mat-snack-bar-container {
  background-color: $library-main-color;
  color: #fff;
  font-size: 18px;
  width: 70vw;
}

.mat-simple-snackbar-action {
  button {
    background-color: #fff;
    color: $library-main-color;
    font-size: 16px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  :host {
    position: absolute;
    left: 0;
    width: 100%;
  }
  .main-toolbar.mat-primary {
    flex-direction: row;
  }
  .branding {
    order: 4;
  }

  .user-avatar-mobile {
    order: 0;
    mat-icon {
      display: none;
    }
  }
  .user-mobile-menu {
    display: none;
    order: 3;
  }

  .language-avatar {
    width: 260px;
    padding: 0;
    position: absolute;
    right: 120px;
    // justify-content: flex-start;
    // flex-direction: row-reverse;
    .avatar-info {
      margin: 0;
    }
  }
}
@media only screen and (min-width: 300px) and (max-width: 600px) {
  .language-avatar {
    width: 200px;
  }
  .avatar-info {
    .user-avatar-mobile {
      max-width: 65px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 10px;
    }
  }
}

@media only screen and (min-width: 200px) and (max-width: 360px) {
  .language-avatar {
    width: auto;
  }
  .avatar-info {
    button {
      display: none;
    }
  }
}

.menu-options {
  list-style: none;
  padding: 10px 0;
  z-index: 1;

  .menu-option {
    z-index: 1;
    font-size: 14px;
    padding: 10px 40px 10px 20px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.5);
    }
  }
}

// ELIMINATE ARROWS ON MOZILLA FIREFOX
input[type="number"] {
  -moz-appearance: textfield;
}

.no-notification {
  display: none;
}

.spy-scroll-container {
  position: fixed;
  top: 30%;
  z-index: 20;
  width: 60px;
  right: 3px;
  height: 60%;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  & > .spy-scroll {
    height: auto;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-self: flex-start;
    border: none;
    background-color: #fff;
    button {
      border-color: transparent;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      outline: none;
      height: 70px;
      color: $library-darker-grey-color;
      font-weight: 700;
      cursor: pointer;
      mat-icon,
      mat-label {
        align-self: center;
        text-transform: uppercase;
        font-size: 12px;
      }
      &::before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: $library-darker-grey-color; //#AEB2BD;
        position: absolute;
        bottom: -1px;
        left: 0;
        opacity: 0;
        transform: scale(0);
        transition: all ease-in-out 0.15s;
      }

      &.active {
        border-left: 1px solid $library-darker-grey-color;
      }
    }
    button:hover {
      mat-label {
        color: $library-main-text-color;
      }
    }

    .mat-icon {
      fill: url(#Rectangle_102_1_);
    }
  }

  & > .spy-scroll:last-child {
    border: 1px solid $library-main-grey-color;
  }
}

@media only screen and (max-device-width: 500px) and (min-device-width: 320px) {
  .spy-scroll-container {
    display: none;
  }
}

.mat-form-field.mat-focused {
  .mat-form-field-ripple {
    background-color: black !important;
  }

  .mat-form-field-label {
    color: black !important;
  }
}
