@import 'variables';
@import '~bootstrap/scss/mixins/_breakpoints.scss';

.tablet-buttons-wrapper {
    display: none;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 600px) {
    ::ng-deep {
      .mat-prd-calendar-container {
        min-width: 230px !important;
        width: 220px;
        overflow-y: auto;
        flex-wrap: wrap;
      }
  }
    .tablet-buttons-wrapper {
      .tablet-add {
        display: none;
      }
    }
    .mat-accordion>.mat-expansion-panel-spacing:last-child, .mat-accordion>:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing{
      margin-bottom: 30px;
    }
    
  }


@media only screen 
    and (min-width: 320px) 
    and (max-width: 1024px)  
    {

  .filter-panel { 
    display: block;

    .filters {
      height: 100%;

      h3{
        font-size: 16px;
        margin: 0;
      }

      &.side-bar-collapsed {
        display: none;
      }
      ::ng-deep {
        .gutter-checkbox {  
          margin-bottom: 50px;
          
          mat-label, .mat-checkbox-layout .mat-checkbox-label {
            font-size: 15px;
            line-height: 45px;
            font-weight: 700;
            color: $library-darker-grey-color;
          }
        }
      }
    }

    .buttons-wrapper {
      display: none;
    }

    .tablet-buttons-wrapper {
      position: absolute;
      bottom: 0;
      display: flex;
      align-content: center;
      justify-content: space-between;
      z-index: 6;

      .tablet-filter { 
        button {
          width: 40px;
          height: 40px;
          margin: 0 0 10px 10px;
          .material-icons {
            line-height: 12px;
            vertical-align: unset;
          }
        }

        ::ng-deep {
          .mat-fab.mat-accent {
            background-color: $library-darker-grey-color;
          }
        }
      }

      .tablet-add  {
        display: block;
        position: fixed;
        right: 0;
        bottom: 0;
        button{
          width: 40px;
          height: 40px;
          margin: 0 10px 10px 0;
          .material-icons {
            line-height: 12px;
            vertical-align: unset;
          }

        }
        ::ng-deep {
          .mat-fab.mat-accent {
            background-color: $library-main-color;
          }
        }
      }

      mat-icon {
        color: #fff;
      }
    }
  }
  .side-panel .mat-expansion-panel .mat-expansion-panel-header-title{
    font-size: 14px;
  }
}
