<div class="filter-panel">
  <div class="filters" [ngClass]="expanded ? 'side-bar-collapsed' : ''">
    <div>
      <header>
        <h3>{{ "Filtre" | translate }}</h3>
        <button mat-button (click)="resetForm()" type="button">
          {{ "Resetare" | translate }}
        </button>
      </header>

      <mat-accordion multi="true" #accordion="matAccordion">
        <mat-expansion-panel>
          <mat-pick-range
            (selectedDateRangeChanged)="updateRange($event)"
            [options]="options"
            #dateRangePicker
          ></mat-pick-range>
        </mat-expansion-panel>

        <mat-expansion-panel [formGroup]="filterForm" [expanded]="true">
          <mat-form-field class="autocomplete-field" floatLabel="always">
            <mat-label>{{ "Nume" | translate }}</mat-label>
            <input
              matInput
              formControlName="name"
              placeholder="{{ 'Nume carte' | translate }}"
            />
          </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel
          *ngIf="domainOptions"
          [expanded]="true"
          [formGroup]="filterForm"
        >
          <mat-form-field>
            <mat-select
              multiple="true"
              formControlName="domainIds"
              [placeholder]="'Domeniu' | translate"
            >
              <mat-option
                *ngFor="let domain of domainOptions"
                [value]="domain.id"
              >
                {{ domain.name | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field
            *ngIf="
              filterForm.value.domainIds &&
              filterForm.value.domainIds.length
            "
          >
            <mat-select
              multiple="true"
              formControlName="categoryIds"
              [placeholder]="'Categorie' | translate"
            >
              <mat-option
                *ngFor="let category of categoryOptions"
                [value]="category.id"
              >
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div class="buttons-wrapper">
    <div class="buttons-wrapper">
      <div class="button-wrapper" *ngIf="isAdmin">
        <button *ngIf="!expanded" mat-raised-button class="add-button" [routerLink]="['/catalog', 'new']" type="button">
          <mat-icon>add</mat-icon>
          {{ "Carte" | translate }}
        </button>
        <button *ngIf="expanded" mat-raised-button class="add-icon">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <button
        mat-button
        class="collapse-button no-hover-effect"
        (click)="expanded = !expanded"
      >
        <span *ngIf="!expanded">
          <span class="collapse-icon">&laquo;</span>
          <span class="collapse-text">{{
            "Restrânge panoul" | translate
          }}</span>
        </span>
        <span *ngIf="expanded">
          <span class="collapse-icon">&raquo;</span>
        </span>
      </button>
    </div>
  </div>
  <div class="tablet-buttons-wrapper">
    <div class="example-button-container tablet-filter">
      <button
        mat-fab
        class="no-hover-effect tablet-filter"
        (click)="expanded = !expanded"
      >
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
    <div class="example-button-container tablet-add">
      <button mat-fab>
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
