<div mat-dialog-title>
  <h2 class="tile">{{ data.header }}</h2>
  <mat-slide-toggle [(ngModel)]="data.enabled">
    {{ "Activat" | translate }}
  </mat-slide-toggle>
</div>
<div mat-dialog-content>
  <div class="row">
    <div class="col-6">
      <mat-form-field>
        <input
          [placeholder]="'Nume' | translate"
          matInput
          [(ngModel)]="data.name"
          required
        />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field>
        <input
          matInput
          readonly
          [placeholder]="'Culoare' | translate"
          [style.background]="data.color"
          [(colorPicker)]="data.color"
        />
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-slide-toggle
        class="reverse-toggle"
        [(ngModel)]="data.defaultValue"
        >{{ "Valoare default" | translate }}</mat-slide-toggle
      >
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="data"
    cdkFocusInitial
    [disabled]="data.name === ''"
  >
    {{ "Salvează" | translate }}
  </button>
  <button mat-raised-button (click)="onNoClick()">
    {{ "Renunță" | translate }}
  </button>
</div>
