@import "variables";

.reverse-toggle {
  width: 100%;
  ::ng-deep {
    .mat-slide-toggle-label {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
}
.mat-dialog-content {
  overflow: hidden;
}

.mat-dialog-actions {
  margin-top: 30px;
}
