<div class="login-centering-wrapper">
  <mat-card class="login-form reveal">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 789.6 233.7" class="library-decor">
      <use href="../assets/images/login-center.svg#Layer_1"></use>
    </svg>

    <mat-card-content *ngIf="!showResetPassword">
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'USER' | translate }}</mat-label>
            <input type="text" matInput formControlName="username" (change)="removeWhitespacesUsername()" autocomplete="false" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'PASSWORD' | translate }}</mat-label>
            <input type="password" matInput formControlName="password" (change)="removeWhitespaces()" />
          </mat-form-field>
        </div>
        <p *ngIf="errorMessage !== null && errorMessage !== undefined" class="login-error">
          {{ errorMessage?.error?.error_description }}
        </p>
        <div class="other-actions">
          <ul>
            <li>
              <mat-checkbox formControlName="rememberMe">{{ 'Reține-mă' | translate }}</mat-checkbox>
            </li>
            <li>
              <button type="button" (click)="showResetPassword = !showResetPassword">
                {{ 'Am uitat parola' | translate }}
              </button>
            </li>
          </ul>
        </div>
        <div class="login-buttons">
          <button type="submit" mat-raised-button color="primary">Login</button>
        </div>
        <div class="extra-info">
            <app-language></app-language>
            <div [ngSwitch]="translateService.currentLang">
              <ng-container *ngSwitchCase="'en'">
                <a href="https://www.unitbv.ro/privacy-policy.html" target="_blank" rel="noopener noreferrer">{{ 'Politica de confidențialitate' | translate }}</a>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <a href="https://www.unitbv.ro/privacy-policy.html" target="_blank" rel="noopener noreferrer">{{ 'Politica de confidențialitate' | translate }}</a>
              </ng-container>
            </div>
        </div>
      </form>
    </mat-card-content>

    <mat-card-content *ngIf="showResetPassword">
      <form class="forgot-password" [formGroup]="forgotPasswordForm">
        <ng-container *ngIf="!recoveryEmailSent; else emailSent">
          <p>
            {{ 'Introduceți adresa de e-mail pentru a recupera parola:' | translate }}
          </p>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>EMAIL</mat-label>
              <input type="text" matInput formControlName="email" />
            </mat-form-field>
          </div>
          <p *ngIf="errorMessage !== null && errorMessage !== undefined" class="login-error">
            {{ errorMessage?.error?.error_description }}
          </p>
        </ng-container>

        <ng-template #emailSent>
          <p>
            {{ 'Email trimis pentru resetare parola' | translate }}
          </p>
        </ng-template>

        <div class="other-actions">
          <ul>
            <li>
              <button type="button" (click)="backToLogin()">
                {{ 'Înapoi la Login' | translate }}
              </button>
            </li>
          </ul>
        </div>
        <div class="reset-buttons" *ngIf="!recoveryEmailSent">
          <button
            (click)="resetPassword()"
            [disabled]="!forgotPasswordForm.valid"
            mat-raised-button
            type="submit"
            color="primary"
          >
          {{ 'Reseteaza parola' | translate }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
