<header class="page-header project-title">
  <h1>{{ "Carti" | translate }} ({{ totalElements }})</h1>
  <div class="button-wrapper grid-list-button">
    <button
      mat-button
      class="collapse-button no-hover-effect"
      (click)="changeDisplayMode()"
    >
      <span *ngIf="displayMode === Display.Grid">
        <mat-icon class="collapse-icon">view_list</mat-icon>
      </span>
      <span *ngIf="displayMode === Display.List">
        <mat-icon class="collapse-icon">view_module</mat-icon>
      </span>
    </button>
  </div>
</header>
<div class="project-list-toolbar">
  <mat-slide-toggle
    [checked]="bookFilters?.myBooks"
    (change)="onShowMyBooks($event)"
    *ngIf="!isAdmin"
  >
    {{ "Arată cartile mele" | translate }}
  </mat-slide-toggle>
  <mat-slide-toggle
    *ngIf="isAdmin"
    [checked]="bookFilters?.disabledOnly"
    (change)="onDeactivateSwitchChange($event)"
  >
    {{ "Arată carti dezactivate" | translate }}
  </mat-slide-toggle>
  <mat-slide-toggle
    *ngIf="isAdmin"
    [disabled]="bookFilters?.disabledOnly"
    [checked]="bookFilters?.allBooks"
    (change)="onShowAllSwitchChange($event)"
  >
    {{ "Arată toate cartile" | translate }}
  </mat-slide-toggle>
</div>
<div
  class="card-grid row row-cols-5"
  [ngClass]="displayMode === Display.List ? 'list-view' : 'grid-view'"
>
  <ng-template ngFor let-book [ngForOf]="books" let-index="index">
    <div class="roof-card project-card">
      <div *ngIf="displayMode === Display.Grid" class="menu-icon">
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <mat-card (click)="openBook.emit(book)" class="book">
        <mat-card-header>
          <img
            *ngIf="!erroredImages[index]"
            mat-card-image
            [src]="apiUrl + '/book/' + book.id + '/image'"
            alt=""
            (error)="erroredImages[index] = true"
          />

          <ng-container *ngIf="erroredImages[index]">
            <mat-icon mat-card-image svgIcon="no-image"></mat-icon>
          </ng-container>

          <mat-menu #appMenu="matMenu" class="tablet-actions-visible">
            <div class="menu-items">
              <button
                *ngIf="isAdmin"
                mat-raised-button
                [matTooltip]="'Editează cartea' | translate"
                (click)="$event.stopPropagation(); openBook.emit(book)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                *ngIf="book.enabled && isAdmin"
                mat-raised-button
                (click)="$event.stopPropagation(); disableBook.emit(book)"
                [matTooltip]="'Dezactivează cartea' | translate"
              >
                <mat-icon>visibility_off</mat-icon>
              </button>
              <button
                *ngIf="!book.enabled"
                mat-raised-button
                (click)="$event.stopPropagation(); enableBook.emit(book)"
                [matTooltip]="'Activează cartea' | translate"
              >
                <mat-icon>visibility_on</mat-icon>
              </button>
              <button
                *ngIf="!book.enabled && isAdmin"
                mat-raised-button
                (click)="$event.stopPropagation(); deleteBook.emit(book)"
                [matTooltip]="'Șterge cartea' | translate"
              >
                <mat-icon>delete_outline</mat-icon>
              </button>
              <button
                *ngIf="book.enabled && bookFilters?.myBooks"
                mat-raised-button
                (click)="$event.stopPropagation(); readBook.emit(book)"
                [matTooltip]="'Citeste cartea' | translate"
              >
                <mat-icon>visibility_on</mat-icon>
              </button>
            </div>
          </mat-menu>
          <div class="actions">
            <button
              *ngIf="isAdmin"
              mat-raised-button
              [matTooltip]="'Editează cartea' | translate"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              *ngIf="book.enabled && isAdmin"
              mat-raised-button
              (click)="$event.stopPropagation(); disableBook.emit(book)"
              [matTooltip]="'Dezactivează cartea' | translate"
            >
              <mat-icon>visibility_off</mat-icon>
            </button>
            <button
              *ngIf="!book.enabled"
              mat-raised-button
              (click)="$event.stopPropagation(); enableBook.emit(book)"
              [matTooltip]="'Activează cartea' | translate"
            >
              <mat-icon>visibility_on</mat-icon>
            </button>
            <button
              *ngIf="!book.enabled && isAdmin"
              mat-raised-button
              (click)="$event.stopPropagation(); deleteBook.emit(book)"
              [matTooltip]="'Șterge cartea' | translate"
            >
              <mat-icon>delete_outline</mat-icon>
            </button>
            <button
              *ngIf="book.enabled && bookFilters?.myBooks"
              mat-raised-button
              (click)="$event.stopPropagation(); readBook.emit(book)"
              [matTooltip]="'Citeste cartea' | translate"
            >
              <mat-icon>visibility_on</mat-icon>
            </button>
          </div>
        </mat-card-header>
        <mat-card-content>
          <h1 *ngIf="book.name" class="project-name">{{ book.name }}</h1>
          <h1 *ngIf="book.authorName" class="author-name">
            {{ book.authorName }}
          </h1>
          <h2 *ngIf="book.numberOfPages" class="project-name">
            Pagini: {{ book.numberOfPages }}
          </h2>
        </mat-card-content>
        <mat-card-footer class="list-view-footer">
          <div class="footer-data">
            <div class="date-created">
              {{ "Creat:" | translate }}
              {{ book.createdOn | date: "d MMM yyyy HH:mm" }}
            </div>
            <div class="date-updated">
              {{ "Actualizat:" | translate }}
              {{ book.updatedOn | date: "d MMM yyyy HH:mm" }}
            </div>
          </div>
          <div
            *ngIf="displayMode === Display.List"
            class="actions-tablet-list-view"
          >
            <button
              *ngIf="isAdmin"
              mat-raised-button
              [matTooltip]="'Editează cartea' | translate"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              *ngIf="book.enabled && isAdmin"
              mat-raised-button
              (click)="$event.stopPropagation(); disableBook.emit(book)"
              [matTooltip]="'Dezactivează cartea' | translate"
            >
              <mat-icon>visibility_off</mat-icon>
            </button>
            <button
              *ngIf="!book.enabled"
              mat-raised-button
              (click)="$event.stopPropagation(); enableBook.emit(book)"
              [matTooltip]="'Activează cartea' | translate"
            >
              <mat-icon>visibility_on</mat-icon>
            </button>
            <button
              *ngIf="!book.enabled && isAdmin"
              mat-raised-button
              (click)="$event.stopPropagation(); deleteBook.emit(book)"
              [matTooltip]="'Șterge cartea' | translate"
            >
              <mat-icon>delete_outline</mat-icon>
            </button>
            <button
              *ngIf="book.enabled && bookFilters?.myBooks"
              mat-raised-button
              (click)="$event.stopPropagation(); readBook.emit(book)"
              [matTooltip]="'Citeste cartea' | translate"
            >
              <mat-icon>visibility_on</mat-icon>
            </button>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </ng-template>
</div>

<svg
  aria-hidden="true"
  focusable="false"
  style="width: 0; height: 0; position: absolute"
>
  <linearGradient
    id="basegradient"
    x1="1.113"
    y1="0.5"
    x2="0.5"
    y2="2.876"
    gradientUnits="objectBoundingBox"
  >
    <stop offset="0" stop-color="var(--icon-color-stop-1)" />
    <stop offset="1" stop-color="var(--icon-color-stop-2)" />
  </linearGradient>
  <linearGradient
    id="hovergradient"
    x1="1.113"
    y1="0.5"
    x2="0.5"
    y2="2.876"
    gradientUnits="objectBoundingBox"
  >
    <stop offset="0" stop-color="var(--icon-color-stop-3)" />
    <stop offset="1" stop-color="var(--icon-color-stop-4)" />
  </linearGradient>
</svg>
