@import 'variables';
@import '~bootstrap/scss/mixins/_breakpoints.scss';

.project-title {
    .grid-list-button{
        color: $library-main-grey-color;
        .material-icons{
            font-size: 40px;
        }
        .collapse-button {
            text-align: right;
            padding: 0;
            .collapse-icon {
                // margin-left: 5px;
                line-height: 60px;
            }
            mat-icon {
                width: 50px;
                height: auto;
            }
        }
    }
}

.project-list-toolbar {
  padding-bottom: 14px;
  mat-slide-toggle {
    padding-right: 20px;
  }
}

.card-grid {
    .roof-card {

        width: 100%;
        // flex:   0 0 calc(100% / 5);
        // max-width:  calc(100% / 5);
        transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
        max-width: none;
        mat-card {
            padding-top: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            box-shadow: 0 3px 15px rgba($library-main-grey-color, .25);
            transform: translateY(0);
            transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);

            &:hover,
            &:focus {
                cursor: pointer;
                transform: translateY(-5px);
                box-shadow: 0 10px 25px rgba($library-main-grey-color, .25);
            }

            mat-card-header {
                position: relative;
                margin: 0 -16px 0;
                overflow: hidden;

                &:before {
                    display: block;
                    content: "";
                    width: 100%;
                    padding-top: (1 / 1) * 100%;
                }
                .mat-icon {
                    fill: url(#basegradient);
                }
                .mat-card-image {
                    margin: 0;
                    object-fit: fill;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }

                .actions {
                    position: absolute;
                    top:    0;
                    right:  0;
                    left:   0;
                    bottom: 0;
                    background-color: rgba($library-main-text-color, .56);
                    border-radius: 4px 4px 0 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    transition: all ease-in-out .15s;
                    cursor: default;

                    .mat-icon-button {
                        background-image: linear-gradient(to bottom, #d7dbe3, #d2d7e0, #ced3dd, #c9cfda, #c5cbd7);
                        border-radius: 6px;
                        margin: 2.5px;
                        line-height: 15px;
                    }

                    .mat-raised-button {
                        min-width: auto;
                        margin: 2.5px;
                        width: 40px;
                        padding: 0;

                        .mat-button-wrapper .mat-icon {
                            margin-right: 0;
                        }
                    }

                    &:hover, &:focus {
                        opacity: 1;
                    }
                }
                .mat-card-header-text {
                    display: none;
                }
            }

            mat-card-content {
                margin-left: -16px;
                margin-right: -16px;
                margin-bottom: 0;
                padding: 9px 16px;
                flex: 1 1 auto;
                min-height: 1px;
                display: flex;
                flex-direction: column;

                .client-name,
                .project-name {
                    margin: 0;
                    padding: 0;
                    font-weight: 600;
                }
                .client-name {
                    font-size: 13px;
                    opacity: .5;
                    flex: 1 1 auto;
                    min-height: 1px;
                }
                .project-name {
                    font-size: 16px;

                    @include media-breakpoint-down(xxl) {
                        font-size: 14px;
                    }
                }
            }

            mat-card-footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0px 16px;
                font-size: 12px;
                .footer-data {
                    padding: 8px 0;
                }
                @include media-breakpoint-down(xxl) {
                    // flex-flow: column;
                    // align-items: flex-start;
                    font-size: 11px;
                }

                .status {
                    font-size: 11px;
                    font-weight: 600;
                    text-align: center;
                    margin-right: -4px;
                    min-width: 50px;
                    line-height: 19px;
                    border-radius: 30px;
                    background-color: rgba($library-main-grey-color, .2);
                }
            }
        }

        // &.add-new {
        //     mat-card {
        //         border: 1px solid $library-secondary-color;
        //         color: $library-secondary-color;
        //         padding-bottom: 100%;
        //         position: relative;

        //         mat-card-content {
        //             display: flex;
        //             align-items: center;
        //             justify-content: center;
        //             text-align: center;
        //             font-weight: 600;
        //             position: absolute;
        //             top: 0;
        //             left: 0;
        //             right: 0;
        //             bottom: 0;
        //             padding: 0;

        //             mat-icon {
        //                 display: block;
        //                 margin: 0 auto;
        //             }
        //         }
        //     }
        // }
    }

    .project-card {
        mat-card-content,
        mat-card-footer {
            border-top: 1px solid $library-main-bg-color;
        }
    }
}
.grid-view {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.list-view {
    display: grid;
    grid-row-gap: 20px;
    width: 100%;
    margin-left: 0;

    // .add-new{
    //     height: 90px;
    //     mat-card{
    //         padding-bottom: 0 !important;
    //     }
    // }

    .roof-card {
        max-width: none;
        padding:0;
        //height: 100px;

        mat-card {
            display: grid;
            grid-template-columns: auto 1fr auto;
            padding-bottom: 0;

            mat-card-header {
                width: 100px;
                margin: 0;
                margin-left: -16px;

                .actions {
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                }
            }

                .mat-card-image {
                max-width: 100%;
                max-height: 100%;
                width: auto;

            }

            mat-card-content,
            mat-card-footer {
                margin: 0;
            }

            // mat-card-footer {
                //padding: 30px;
                // flex-flow: column;
                // justify-content: center;
                // align-items: flex-end;
            // }
        }
    }
}

.tablet-actions, .menu-icon  {
    display: none;
}
.tablet-actions-invisible {
    display: none;
}
.actions-tablet-list-view {
    display: none;

}




// @include media-breakpoint-between(xs, md) {

@media only screen
    and (min-width: 320px)
    and (max-width: 1024px)  {

    .project-title {
        h1{
            font-size: 24px;
            padding: 10px 0;
        }
        button {
            padding: 0;
            margin: 0;
                .material-icons{
                    font-size: 30px;
                }
                mat-icon{
                    width: 30px;
                    height: auto;
                }
        }

    }
    .grid-view {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));

    }

    .project-card{
        position: relative;
        z-index: 4;
    }
    .menu-icon {
        width: 40px;
        height: 40px;
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        z-index: 95;

        button{
            padding: 0;
            margin: 0;
            width: 100%;
            min-width: unset;
            vertical-align: middle;
            background-color: #fff;
            border: 1px solid $library-main-grey-color;
            border-radius: 4px;
            mat-icon {
                // position: absolute;
                // top:0;
                color: $library-main-grey-color;
                vertical-align: text-bottom;
            }
        }

    }
    .tablet-actions-visible {
        border: 1px solid red;
        position: absolute;
        width: 100%;
        top:    0;
        right:  0;
        left:   0;
        bottom: 0;
        background-color: rgba($library-main-text-color, .56);
        border-radius: 4px 4px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all ease-in-out .15s;
        cursor: default;

        .mat-icon-button {
            background-image: linear-gradient(to bottom, #d7dbe3, #d2d7e0, #ced3dd, #c9cfda, #c5cbd7);
            border-radius: 6px;
            margin: 2.5px;
            line-height: 15px;
        }

        .mat-raised-button {
            min-width: auto;
            margin: 2.5px;
            width: 45px;
            padding: 0;

            .mat-button-wrapper .mat-icon {
                margin-right: 0;
            }
        }

        &:hover, &:focus {
            opacity: 1;
        }
    }

    .actions-tablet-list-view {
        // position: absolute;
        // top: 0;
        // right: 0;
        width: 70%;
        height: 100%;
        padding: 8px;
        margin: 0;
        margin-right: -30px;
        align-self: center;
        justify-self: flex-end;
        display: flex;
        flex-direction: row;
        background-color: #fff;
        justify-content: space-evenly;
        align-content: center;
        box-shadow: 0 3px 15px rgba(178, 183, 197, 0.25);

            button {
                width: 40px;
                min-width: unset;
                align-self: center;
                padding: 0;
            }

    }
    .tablet-actions-invisible {
        display: none;
    }

    .card-grid .roof-card mat-card mat-card-header .actions {
        display: none;
    }

    .list-view-footer {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-evenly;
    }


    ::ng-deep {
        .actions {
            display: none;
        }

        .cdk-overlay-container {
            .mat-menu-panel {
                display: flex;
                justify-content: space-evenly;
                align-content: center;
                .mat-menu-content {
                    .menu-items {
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        height: 100%;
                    }
                    button {
                        margin: 0 5px;
                        height: 40px;
                        align-self: center;
                        min-width: unset;
                    }
                }

            }
        }
    }
}
