<div class="filter-panel">
  <div class="filters" [ngClass]="expanded ? 'side-bar-collapsed' : ''">
    <form [formGroup]="filterForm">
      <header>
        <h3>{{ "Filtre" | translate }}</h3>
        <button mat-button (click)="resetForm($event)" type="button">
          {{ "Resetare" | translate }}
        </button>
      </header>
      <mat-accordion multi="true">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header
            [expandedHeight]="'38px'"
            [collapsedHeight]="'38px'"
          >
            <mat-panel-title>{{ "Perioadă" | translate }}</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-pick-range
            (selectedDateRangeChanged)="updateRange($event)"
            [options]="options"
            #dateRangePicker
          >
          </mat-pick-range>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="isAdmin" [expanded]="true">
          <mat-expansion-panel-header
            [expandedHeight]="'38px'"
            [collapsedHeight]="'38px'"
          >
            <mat-panel-title> {{ "Cont" | translate }} </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="autocomplete-field">
            <mat-label>{{ "Nume, email sau telefon" | translate }}</mat-label>
            <input
              matInput
              formControlName="client"
              [matAutocomplete]="client"
              (focusout)="focusOut('client')"
              (keyup.enter)="searchClientName(filterForm?.get('client')?.value)"
            />
            <span matSuffix>
              <mat-icon
                class="input-icon"
                *ngIf="!filterForm.get('client').value"
                aria-label="Search"
              >
                search
              </mat-icon>
              <button
                type="button"
                mat-icon-button
                *ngIf="filterForm.get('client').value"
                aria-label="Clear"
                (click)="clearControl('client')"
              >
                <mat-icon>close</mat-icon>
              </button>
            </span>
          </mat-form-field>
          <mat-autocomplete
            #client="matAutocomplete"
            [displayWith]="displayClientFn"
          >
            <mat-option
              class="multiple-rows"
              *ngFor="let option of clientOptions$ | async"
              [value]="option"
              (onSelectionChange)="selectClient(option)"
            >
              <span class="field label">{{ option?.name }}</span>
              <span class="field contact">{{ option?.emails }}</span>
              <span class="field contact">{{ option?.phones }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header
            [expandedHeight]="'38px'"
            [collapsedHeight]="'38px'"
          >
            <mat-panel-title>{{
              "Tip solicitare" | translate
            }}</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="fieldset">
            <div
              *ngIf="requestTypes$ | async as requestTypes"
              formArrayName="requestType"
            >
              <div
                *ngFor="
                  let item of filterForm.get('requestType')['controls'];
                  let i = index
                "
              >
                <mat-checkbox
                  [formControlName]="i"
                  name="{{ requestTypes[i]?.name }}"
                  (change)="
                    changedRequestTypes(
                      filterForm.controls.requestType.value,
                      requestTypes
                    )
                  "
                >
                  <div innerHTML="{{ requestTypes[i]?.name }}"></div>
                </mat-checkbox>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header
            [expandedHeight]="'38px'"
            [collapsedHeight]="'38px'"
          >
            <mat-panel-title>{{ "Solicitare" | translate }}</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="fieldset">
            <label id="importantRequest" class="fieldset-label">
              {{ "Solicitare importantă" | translate }}
            </label>
            <mat-radio-group
              class="radio-group"
              formControlName="importantRequest"
              aria-labelledby="importantRequest"
            >
              <mat-radio-button
                class="radio-button"
                value="true"
                #buttonTrue
                (click)="changedRadio(buttonTrue, 'importantRequest')"
              >
                {{ "Da" | translate }}
              </mat-radio-button>
              <mat-radio-button
                class="radio-button"
                value="false"
                #buttonFalse
                (click)="changedRadio(buttonFalse, 'importantRequest')"
              >
                {{ "Nu" | translate }}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </div>
  <div class="buttons-wrapper">
    <div class="button-wrapper">
      <button
        *ngIf="!expanded"
        mat-raised-button
        class="add-button"
        [routerLink]="['/requests', 'new']"
        type="button"
      >
        <mat-icon>add</mat-icon>
        {{ "Solicitare" | translate }}
      </button>
      <button
        type="button"
        *ngIf="expanded"
        mat-raised-button
        class="add-icon"
        [routerLink]="['/requests', 'new']"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="button-wrapper">
      <button
        type="button"
        mat-button
        class="collapse-button no-hover-effect"
        (click)="expanded = !expanded"
      >
        <span *ngIf="!expanded">
          <span class="collapse-icon">&laquo;</span>
          <span class="collapse-text">{{
            "Restrânge panoul" | translate
          }}</span>
        </span>
        <span *ngIf="expanded">
          <span class="collapse-icon">&raquo;</span>
        </span>
      </button>
    </div>
  </div>
</div>
