<form [formGroup]="accountForm">
  <div mat-dialog-title>
    <h2 class="title">{{ "Membru" | translate }}</h2>
    <mat-slide-toggle formControlName="enabled">{{ 'Activ' | translate }}</mat-slide-toggle>
  </div>
  <div mat-dialog-content>
      <div class="row">
          <div class="col">
              <mat-form-field>
                <input [placeholder]="'Nume' | translate" matInput required formControlName="name" />
              </mat-form-field>
              <mat-form-field>
                <input placeholder="E-mail" matInput required formControlName="email" />
              </mat-form-field>
              <div class="mat-form-group">
                <mat-form-field>
                  <input type="password" [placeholder]="'Parolă' | translate" matInput formControlName="password" />
                  <mat-error *ngIf="accountForm.get('password').errors?.minlength">
                    {{ 'Lungime parola' | translate }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input
                    type="password"
                    [placeholder]="'Parolă (confirmă)' | translate"
                    matInput
                    required
                    formControlName="passwordConfirm"
                  />
                  <mat-error *ngIf="accountForm.get('passwordConfirm').errors?.incorrect">
                    {{ 'Parole diferite' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div formGroupName="roles">
                <div class="mat-form-field-wrapper">
                  <input matInput [placeholder]="'Rol' | translate" disabled class="group-label" />
                  <div class="inline-checkboxes">
                    <mat-checkbox formControlName="admin">Administrator</mat-checkbox>
                    <mat-checkbox formControlName="customer">{{ 'Utilizator' | translate }}</mat-checkbox>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      type="button"
      color="primary"
      (click)="onClick(accountForm.value)"
      cdkFocusInitial
      [disabled]="!accountForm.valid"
    >
      {{ 'Salvează' | translate }}
    </button>
    <button mat-raised-button type="button" (click)="onClick()">
      {{ 'Renunță' | translate }}
    </button>
  </div>
</form>
