<form [formGroup]="templateForm">
  <div mat-dialog-title>
    <h2 class="tile">{{ "Creaza șablon" | translate }}</h2>
    <mat-slide-toggle formControlName="enabled">{{
      "Activ" | translate
    }}</mat-slide-toggle>
  </div>
  <div mat-dialog-content>
    <mat-form-field floatLabel="always">
      <mat-label>{{ "Tip șablon?" | translate }}</mat-label>
      <mat-select formControlName="type" (selectionChange)="typeChanged()">
        <mat-option [value]="type" *ngFor="let type of data.types | async">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field
      floatLabel="always"
      appearance="standard"
      class="autocomplete-field"
    >
      <mat-label>{{ "Limba" | translate }}</mat-label>
      <input
        matInput
        formControlName="language"
        [matAutocomplete]="language"
        [readonly]="templateForm?.get('language')?.value?.code"
      />
      <span matSuffix>
        <mat-icon
          class="input-icon"
          aria-label="Search"
          *ngIf="!templateForm?.get('language')?.value?.code"
        >
          search
        </mat-icon>
        <button
          mat-icon-button
          *ngIf="templateForm?.get('language')?.value?.code"
          (click)="templateForm?.get('language')?.reset()"
          aria-label="Clear"
        >
          <mat-icon>close</mat-icon>
        </button>
      </span>
    </mat-form-field>
    <mat-autocomplete #language="matAutocomplete" [displayWith]="displayFn">
      <mat-option
        class="multiple-rows"
        *ngFor="let option of filtredLanguages | async"
        [value]="option"
      >
        <span class="field label">{{ option?.name }}</span>
      </mat-option>
    </mat-autocomplete>
  </div>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="templateForm?.value"
      cdkFocusInitial
      color="warn"
      [disabled]="!templateForm?.valid"
    >
      {{ "Salvează" | translate }}
    </button>
    <button mat-raised-button (click)="onNoClick()">
      {{ "Renunță" | translate }}
    </button>
  </div>
</form>
