@import "variables";

:host {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.selected {
  background-color: rgba($library-main-grey-color, 0.3);
}

.mat-dialog-actions {
  margin-bottom: 30px !important;
  button {
    margin-right: 8px;
  }
}

::ng-deep {
  body {
    padding-bottom: 0;
  }

  .sidemenu {
    .item.active {
      .mat-button-focus-overlay {
        opacity: 0.04;
      }
    }
  }

  // .mat-tab-label {
  //   background-color: #fff;
  // }
}

.wrapper {
  display: flex;
  flex-flow: row;
  height: 100%;
  overflow: hidden;
  .sidemenu {
    background-color: #e0e3e9;
    display: flex;
    flex-flow: column;
    flex: 0 0 250px;
    height: 100%;
    overflow-y: auto;

    .item {
      text-align: left;
      position: relative;
      overflow: hidden;
      font-weight: 600;
      line-height: 20px;
      border-radius: 0;

      &.selected {
        &::after {
          content: "";
          width: 30px;
          height: 30px;
          background-color: $library-main-bg-color;
          transform: translateY(-50%) rotate(45deg);
          position: absolute;
          right: -25px;
          top: 50%;
        }
      }
    }
  }
}

.content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 0;
}

.custom-tabs.mat-tab-group.main-tab-group::ng-deep {
  margin: 20px 0;

  > .mat-tab-header {
    position: sticky;
    top: 0;
    z-index: 2;
  }
}

.custom-tabs.mat-tab-group::ng-deep {
  background-color: #fff;
  border-radius: $library-base-radius;

  > .mat-tab-header {
    border-bottom: none;
    position: relative;
    background-color: $library-main-bg-color;

    .mat-tab-label {
      font-weight: 600;
      border-radius: 3px 3px 0 0;
    }

    .mat-tab-label-active {
      opacity: 1;
      background-color: #fff;
      color: $library-secondary-color;
      box-shadow: 0 3px 15px rgba(171, 180, 196, 0.15);
    }

    .mat-ink-bar {
      bottom: auto;
      top: 0;
      // display: none;
    }
  }

  .second-level-tabs {
    .mat-tab-label {
      font-weight: 600;
      text-transform: capitalize;
    }

    .mat-tab-label-active {
      opacity: 1;
      color: $library-secondary-color;
    }

    .mat-ink-bar {
      background-color: $library-secondary-color;
    }
  }
}
