<admin-tabs></admin-tabs>
<div class="wrapper">
  <div class="sidemenu">
    <button
      *ngFor="let custom of notifications$ | async"
      class="item"
      mat-button
      type="button"
      (click)="selectNotification(custom)"
      [class.selected]="
        selectedNotification?.notification?.id === custom?.notification?.id
      "
    >
      <p *ngIf="custom?.notification?.name; else noName">
        {{ custom.notification.name | translate }}
      </p>
      <ng-template #noName>{{ custom.notification.key }}</ng-template>
    </button>
  </div>

  <div class="content">
    <div
      *ngIf="selectedNotification$ | async as selected"
      class="container-fluid"
    >
      <header class="page-header">
        <h1>{{ "Editeaza notificare" | translate }}</h1>
        <button
          mat-raised-button
          (click)="createTemplate(selected)"
          [matTooltip]="'Adaugă template' | translate"
        >
          <mat-icon>add</mat-icon>
          {{ "Adaugă șablon" | translate }}
        </button>
      </header>

      <form [formGroup]="notificationForm">
        <notification-element
          [notificationForm]="notificationForm?.get('notification')"
        ></notification-element>
        <mat-tab-group
          class="custom-tabs main-tab-group"
          dynamicHeight="true"
          formGroupName="templates"
        >
          <mat-tab
            *ngFor="let group of selected?.templates | keyvalue"
            [label]="group?.key"
            [formArrayName]="group?.key"
          >
            <mat-tab-group
              animationDuration="0ms"
              class="second-level-tabs"
              dynamicHeight="true"
            >
              <mat-tab
                *ngFor="
                  let control of notificationForm
                    ?.get('templates')
                    ?.get(group?.key)['controls'];
                  index as i
                "
                [label]="control?.value?.language"
              >
                <notification-template
                  class="container-fluid"
                  [templateForm]="
                    notificationForm?.get('templates')?.get(group?.key)[
                      'controls'
                    ][i]
                  "
                  (delete)="deleteTemplate($event)"
                >
                </notification-template>
              </mat-tab>
            </mat-tab-group>
          </mat-tab>
        </mat-tab-group>
        <div mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="onSaveClick(selected)" cdkFocusInitial [disabled]="!notificationForm.valid" >
                {{ 'Salvează notificarea' | translate }}
            </button>
        </div>
      </form>
    </div>
  </div>
</div>
