<div mat-dialog-content>
  <h3>{{ data.question }}</h3>
</div>
<div mat-dialog-actions>
  <button
    color="primary"
    mat-raised-button
    [mat-dialog-close]="data"
    cdkFocusInitial
  >
    {{ data.yesButton }}
  </button>
  <button mat-raised-button (click)="onNoClick()">{{ data.noButton }}</button>
</div>
