<div>
  <header class="page-header">
    <h1>{{ "Status pentru cereri" | translate }}</h1>
    <button mat-raised-button (click)="addRequestStatus()">
      <mat-icon>add</mat-icon>
      {{ "Adaugă" | translate }}
    </button>
  </header>
  <div class="like-mat-table elevated">
    <div class="mat-header-row">
      <div class="mat-header-cell">{{ "Nume" | translate }}</div>
      <div class="mat-header-cell color">{{ "Culoare" | translate }}</div>
      <div class="mat-header-cell default-value">
        {{ "Valoare default" | translate }}
      </div>
      <div class="mat-header-cell column-actions"></div>
    </div>
    <div
      class="mat-row"
      *ngFor="let requestStatus of requestStatuses$ | async"
      [class.disabled]="!requestStatus.enabled"
      (click)="editRequestStatus(requestStatus)"
    >
      <div class="mat-cell">{{ requestStatus.name }}</div>
      <div
        class="mat-cell color"
        [style.background-color]="requestStatus?.color"
      ></div>
      <div class="mat-cell default-value">
        <span class="material-icons" *ngIf="requestStatus?.defaultValue">
          done
        </span>
      </div>
      <div class="mat-cell column-actions">
        <mat-icon class="add-icon">edit</mat-icon>
        <mat-icon
          *ngIf="!requestStatus.enabled"
          aria-hidden="false"
          (click)="deleteRequestStatus($event, requestStatus?.id)"
          color="primary"
        >
          delete_sweep
        </mat-icon>
      </div>
    </div>
  </div>
</div>
