@import "variables";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

:host {
  flex: 1;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.table-scroll {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 10px;
}

.tabs-bar {
  margin-bottom: 15px;
}

.table-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;

  .group:first-child {
    .mat-slide-toggle {
      margin-left: 20px;
    }
  }

  .actions {
    button {
      margin: 0 5px;
    }
  }
}

.export-XLSX-button {
  display: inline-flex;
  mat-spinner {
    margin-top: 5px;
  }
}

.mat-table {
  .mat-header-row {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: $library-main-bg-color;
  }

  .col-req-type,
  .col-status {
    max-width: 150px;
  }

  .mat-row {
    .mat-cell {
      a {
        text-decoration: underline;
        color: black;
      }
      .approachRequestIcon {
        color: green;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .tabs-bar,
  .table-toolbar {
    margin-bottom: 20px;
  }

  .table-toolbar {
    flex-flow: column;

    .toggle {
      order: 2;
      margin-top: 15px;
    }

    .actions {
      button {
        .label {
          display: none;
        }
      }
      button.export-excel {
        display: none;
      }
    }
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: auto;
    padding: 8px 14px;

    .mat-cell {
      min-height: auto;
      align-items: flex-start;
      width: 100%;
      max-width: none;
      padding-top: 6px;
      padding-bottom: 6px;

      &:last-of-type {
        padding-right: 0;
      }

      &:empty {
        display: none;
      }

      &::before {
        content: attr(data-cell-label);
        flex: 0 0 50%;
        color: $library-main-text-color;
        font-weight: 600;
      }

      &.mat-column-selected {
        padding-left: 0;

        &::before {
          content: none;
        }
      }

      .mat-icon {
        margin-left: 0;
      }
    }
  }
}

.approachRequest {
  background-color: rgba($library-main-grey-color, 0.3);
}
