<div class="tabs-bar">
  <div class="container-fluid requestStatus">
    <button
      mat-button
      *ngIf="pagination?.filtersRequest?.requestStatus"
      (click)="filterRequestStatus()"
    >
      <mat-icon matPrefix aria-hidden="false" aria-label="Back"
        >keyboard_backspace
      </mat-icon>
    </button>
    <button
      class="status-btn color-total"
      mat-button
      *ngIf="!pagination?.filtersRequest?.requestStatus"
    >
      <span class="label">
        {{ "Toate" | translate }}
        <span class="badge">{{ paginator.length }}</span>
      </span>
    </button>
    <button
      class="status-btn"
      mat-button
      *ngFor="let status of requestStatus; let i = index"
      (click)="filterRequestStatus(status?.requestStatus[0], i)"
      [style.color]="status?.requestStatus[0]?.color"
    >
      <span class="label">{{ status?.requestStatus[0]?.name }}</span>
      <span class="badge">{{ status?.count }}</span>
    </button>
  </div>
</div>
<div class="container-fluid">
  <div class="table-toolbar">
    <div class="group toggle">
      <mat-slide-toggle
        [checked]="!enableFilter"
        (change)="selectDisabled($event)"
        *ngIf="isAdmin"
      >
        {{ "Arată solicitări dezactivate" | translate }}
      </mat-slide-toggle>
    </div>
    <div class="group actions">
      <button
        mat-raised-button
        color="secondary"
        [disabled]="enableFilter ? disableButton : enableButton"
        (click)="enableAll()"
      >
        <mat-icon aria-hidden="false" aria-label="Add"
          >{{ enableFilter ? "visibility_off" : "visibility" }}
        </mat-icon>
        <span class="label"
          >{{ (enableFilter ? "Dezactivează" : "Activează") | translate }}
        </span>
      </button>
      <button
        mat-raised-button
        color="secondary"
        [disabled]="enableButton"
        (click)="deleteAll()"
      >
        <mat-icon aria-hidden="false" aria-label="Add">
          delete_outline
        </mat-icon>
        <span class="label">
          {{ "Șterge" | translate }}
        </span>
      </button>
      <button
        *ngIf="isAdmin && enableFilter"
        mat-raised-button
        color="secondary"
        [disabled]="disableButton"
        (click)="acceptRequest()"
      >
        <mat-icon aria-hidden="false" aria-label="Accept"> check </mat-icon>
      </button>
      <button mat-raised-button (click)="selectTableConfig.open()">
        <mat-icon svgIcon="library-table-settings"></mat-icon>
        <mat-select
          multiple
          [formControl]="collumnsControl"
          [placeholder]="'Afisează' | translate"
          [compareWith]="compareCollumns"
          (selectionChange)="setColumn($event)"
          #selectTableConfig
        >
          <mat-option value="requestDate">
            {{ "Data solicitare" | translate }}
          </mat-option>
          <mat-option value="importantRequest"
            >{{ "Solicitare importantă" | translate }}
          </mat-option>
          <mat-option value="requestType"
            >{{ "Tip solicitare" | translate }}
          </mat-option>
          <mat-option value="requestStatus">
            {{ "Status solicitare" | translate }}
          </mat-option>
        </mat-select>
      </button>
    </div>
  </div>
</div>
<div class="container-fluid table-scroll">
  <mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="selected">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? select($event) : null"
          [checked]="hasSelectAll"
          [aria-label]="checkboxLabel()"
          [indeterminate]="!hasSelectAll && selectedRequests?.size > 0"
        >
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let request" (click)="$event?.stopPropagation()">
        <mat-checkbox
          (change)="select($event, request)"
          [checked]="selectedRequests.has(request.id)"
          disabled="false"
          [aria-label]="checkboxLabel(request)"
        >
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="customer">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "Nume" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let request" data-cell-label="Nume">
        <a [href]="'#/requests/' + request?.id">
          <div class="customer-name">{{ request.customer?.name }}</div>
          <div class="customer-contact">
            {{ request.customer?.phone }}
          </div>
        </a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="requestDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "Data solicitare" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let request" data-cell-label="Data solicitare">
        {{ request?.requestDate?.split("T")[0] }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="requestType">
      <mat-header-cell *matHeaderCellDef class="col-req-type">
        {{ "Tip solicitare" | translate }}
      </mat-header-cell>
      <mat-cell
        *matCellDef="let request"
        class="col-req-type status-cell"
        data-cell-label="Tip solicitare"
      >
        <div class="label">
          {{ getRequestType(request) }}
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="importantRequest">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="col-icon-only">
        {{ "Sol imp" | translate }}
      </mat-header-cell>
      <mat-cell
        *matCellDef="let request"
        class="col-icon-only"
        data-cell-label="Solicitare importantă"
      >
        <mat-icon
          *ngIf="request?.importantRequest"
          aria-hidden="false"
          aria-label="Solicitare importantă"
          >star</mat-icon
        >
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="requestStatus">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="col-status">
        {{ "Status solicitare" | translate }}
      </mat-header-cell>
      <mat-cell
        *matCellDef="let request"
        class="col-status status-cell"
        data-cell-label="Status solicitare"
        [style.color]="request?.requestStatus?.color"
      >
        <span class="label">{{ request?.requestStatus?.name }}</span>
      </mat-cell>
    </ng-container>
    <mat-header-row
      *matHeaderRowDef="getColumns(collumnsControl?.value)"
    ></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: getColumns(collumnsControl?.value)"
      [class.disabled]="!row.enabled"
      (click)="selectRequest(row)"
    ></mat-row>
  </mat-table>
  <mat-paginator
    [pageSizeOptions]="[25, 50, 100]"
    showFirstLastButtons
  ></mat-paginator>
  <div class="loading-shade" *ngIf="isLoading">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>
</div>
