<div>
  <mat-form-field class="mat-prd-dispaly">
    <mat-label *ngIf="options?.matLabel">{{ options.matLabel }}</mat-label>
    <input
      class="mat-prd-input"
      matInput
      [placeholder]="options?.placeholder"
      [value]="selectedDateRange"
      [matTooltip]="selectedDateRange"
      (click)="openCalendar($event)"
      readonly
      #calendarInput
    />
    <div
      matSuffix
      class="mat-prd-calendar"
      (click)="openCalendar($event)"
    ></div>
  </mat-form-field>
</div>
