@import "variables";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

:host {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@include media-breakpoint-down(md) {
  ::ng-deep {
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px;
    }

    .resellerStatus {
      white-space: nowrap;
      overflow-x: auto;
    }
  }
}
