@import 'variables';
@import 'animations';
@import '~bootstrap/scss/mixins/_breakpoints.scss';

.steps-nav {
  display: flex;
  margin-right: -1px;

  button {
    margin: 0 1px;
    padding: 0;
    width: 40px;
    min-width: auto;

    border: 1px solid $library-main-color;

    .mat-icon {
      font-size: 24px;
      width: 24px;
      height: 24px;
      line-height: 21px;

      color: $library-main-color;
    }

    &[disabled] {
      border: 1px solid $library-main-grey-color;
      mat-icon {
        color: $library-main-grey-color;
      }
    }
  }
}

.input-form {
  width: 50px;
}
.of-input {
  border: none;
  width: 50px;
  font-size: 15px;
  background-color: $library-main-bg-color;
}


:host.second-level-tabs {
    .tabs-bar {
        margin: 20px 0;
        border-bottom: 1px solid darken($library-main-bg-color, 10%);
        background: transparent;
        box-shadow: none;
        text-align: center;
    }
}

.vertical {
    display: inline-grid;
}