<div class="tabs-bar" class="vertical">
  <div class="input-number-buttons">
    <button
      class="prev-button"
      mat-stroked-button
      (click)="goToPreviousPage()"
      [matTooltip]="'Pasul anterior' | translate"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <input class="input-form" type="number" [(ngModel)]="page" autocomplete="off" />
    <input type="text" [value]="numberOfPages" class="of-input">
    <button
      class="next-button"
      mat-stroked-button
      (click)="gotoNextPage()"
      [matTooltip]="'Pasul următor' | translate"
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>

<div>
  <pdf-viewer
    [src]="fileURL"
    [render-text]="true"
    [original-size]="true"
    [show-all]="false"
    [page]="page"
    style="display: block"
  ></pdf-viewer>
</div>
