<header class="page-header">
    <h1>{{ 'Domenii de interes' | translate}}</h1>

    <button mat-raised-button (click)="addDomain()">
        <mat-icon>add</mat-icon>
        {{ 'Adaugă' | translate }}
    </button>
</header>


<div class="like-mat-table elevated">
    <div class="mat-header-row">
        <div class="mat-header-cell">{{ 'Nume' | translate }}</div>
    </div>

    <div class="mat-row" *ngFor='let domain of domains$ | async' [class.disabled]="!domain.enabled" (click)="editDomain(domain)">
        <div class="mat-cell">{{domain.name}}</div>
        <div class="mat-cell column-actions">
            <mat-icon class="add-icon">edit</mat-icon>
            <mat-icon
                *ngIf="!domain.enabled"
                aria-hidden="false"
                (click)="delete($event, domain?.id)"
                color="primary"
            >
                delete_sweep
            </mat-icon>
        </div>
    </div>
</div>
