<header class="page-header">
  <h1>{{ "Tipuri de solicitari" | translate }}</h1>
  <button mat-raised-button (click)="addRequestType()">
    <mat-icon>add</mat-icon>
    {{ "Adaugă" | translate }}
  </button>
</header>
<div class="like-mat-table elevated">
  <div class="mat-header-row">
    <div class="mat-header-cell">{{ "Nume" | translate }}</div>
    <div class="mat-header-cell default-value">
      {{ "Valoare default" | translate }}
    </div>
  </div>
  <div
    class="mat-row"
    *ngFor="let requestType of requestTypes$ | async"
    [class.disabled]="!requestType.enabled"
    (click)="editRequestType(requestType)"
  >
    <div class="mat-cell">{{ requestType.name }}</div>
    <div class="mat-cell default-value">
      <span class="material-icons" *ngIf="requestType?.defaultValue">
        done
      </span>
    </div>
    <div class="mat-cell column-actions">
      <mat-icon class="add-icon">edit</mat-icon>
      <mat-icon
        *ngIf="!requestType.enabled"
        aria-hidden="false"
        (click)="deleteRequestType($event, requestType?.id)"
        color="primary"
      >
        delete_sweep
      </mat-icon>
    </div>
  </div>
</div>
