<admin-tabs></admin-tabs>

<div class="wrapper">
  <div class="sidemenu">
    <button
      class="item"
      mat-button
      type="button"
      routerLinkActive="active"
      [routerLink]="['/admin', 'general', 'domains']"
    >
      {{ "Domenii de interes" | translate }}
    </button>
    <button
      class="item"
      mat-button
      type="button"
      routerLinkActive="active"
      [routerLink]="['/admin', 'general', 'categories']"
    >
      {{ "Categorii" | translate }}
    </button>
    <button
      class="item"
      mat-button
      type="button"
      routerLinkActive="active"
      [routerLink]="['/admin', 'general', 'communication']"
    >
      {{ "Comunicatii" | translate }}
    </button>
    <button
      class="item"
      mat-button
      type="button"
      routerLinkActive="active"
      [routerLink]="['/admin', 'general', 'types']"
    >
      {{ "Tip solictiare" | translate }}
    </button>
    <button
      class="item"
      mat-button
      type="button"
      routerLinkActive="active"
      [routerLink]="['/admin', 'general', 'statuses']"
    >
      {{ "Status solicitare" | translate }}
    </button>
  </div>
  <div class="content">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
