<a
  [href]="link"
  mat-button
  [routerLink]="link"
  [routerLinkActive]="['active']"
  (click)="emitNavigate($event, rla)"
  #rla="routerLinkActive"
  [disabled]="rla.isActive"
>
  <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
  <span><ng-content></ng-content></span>
  <span class="secondary">{{ hint }}</span>
</a>
