<button mat-button (click)="logout.emit()" class="user">
    <span><ng-content></ng-content></span>
    <mat-icon class="logout">exit_to_app</mat-icon>
  </button>
  
  <button mat-button (click)="editProfile.emit()" class="user">
    <span>{{ 'Editare profil' | translate }}</span>
    <mat-icon class="edit">edit</mat-icon>
  </button>

<ng-container>
    <button mat-button (click)="goToLink('https://mateinfo.unitbv.ro/ro/politica-de-confiden%C8%9Bialitate')" class="user">
        <span>{{'Politica de confidențialitate' | translate}}</span>
    </button>
</ng-container>

<button mat-button (click)="goToLink('http://www.anpc.gov.ro/')" class="user">
    <span>ANPC</span>
</button>