<div class="accounts-table">
    <div class="table-toolbar">
        <mat-form-field class="search-field">
            <input [placeholder]="'Caută' | translate" matInput [formControl]="searchControl">
        </mat-form-field>

        <div class="group">
            <button mat-raised-button (click)="createAccount()">
                <mat-icon aria-hidden="false">add</mat-icon>
                {{ 'Adaugă' | translate }}
            </button>

            <button mat-raised-button
                (click)="deleteAccounts()"
                [disabled]="selectionForDelete.size == 0"
                id="delete-button"
            >
                <mat-icon aria-hidden="false">delete_sweep</mat-icon>
                {{ 'Șterge' | translate }}
            </button>
        </div>
    </div>

    <mat-table matSort [dataSource]="dataSource">
        <ng-container matColumnDef="selected">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let account" (click)="$event.stopPropagation()">
                <mat-checkbox
                    (change)="select($event, account)"
                    [checked]="selectionForDelete.has(account.id)"
                    >
                </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Nume' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let account">{{account.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</mat-header-cell>
            <mat-cell *matCellDef="let account">{{account.email}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="enabled">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Stare' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let account">{{ (account.enabled ? 'activ' : 'inactiv') | translate}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="roles">
            <mat-header-cell *matHeaderCellDef>{{'Roluri' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let account">{{account.roles.join(', ')}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [class.disabled]="!row.enabled" (click)="editAccount(row)"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>

    <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
</div>