<app-layout>
  <app-toolbar *ngIf="loggedIn$ | async" (openMenu)="openSidenav()">
    <div class="branding">
      <img alt="" class="logo" src="assets/images/logo.svg" alt="Library" />
    </div>
    <button
      mat-button
      class="burger-menu-toggle"
      (click)="burggerShow = !burggerShow"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <div class="menu-items" [class.show-menu]="burggerShow">
      <app-nav-item
        (navigate)="closeSidenav()"
        *ngIf="loggedIn$ | async"
        link="catalog"
      >
        Catalog
      </app-nav-item>
      <app-nav-item
        (navigate)="closeSidenav()"
        *ngIf="(loggedIn$ | async)"
        link="requests"
      >
      {{ 'Solicitări' | translate }}
      </app-nav-item>
      <app-nav-item
        (navigate)="closeSidenav()"
        *ngIf="isAdmin$ | async"
        link="admin"
      >
      {{ 'Administrare' | translate }}
      </app-nav-item>

      <app-user-controls
        (logout)="logout()"
        (editProfile)="editUserProfile()"
        *ngIf="loggedIn$ | async"
        class="user-actions mobile"
      >
      {{ 'Logout' | translate }}
      </app-user-controls>
      <footer class="footer-area">
        <div class="widget contact">
          <h4>Contact</h4>
          <p>
            str. Iuliu Maniu, nr. 41A<br />
            Brașov, jud. Brașov<br />
            Tel +40 258 476 050 <br />
            Fax +40 258 476 050<br />
            biblioteca@unitbv.ro<br />
          </p>
        </div>
      </footer>
    </div>
    <div class="language-avatar">
      <app-language></app-language>
      <div class="avatar-info">
        <figure
          *ngIf="loggedUser$ | async as account"
          class="name user-image user-tn"
        >
          <img
            alt=""
            class="menu-toggle"
            *ngIf="account.profilePicture"
            [src]="account.profilePicture"
          />
        </figure>
        <button
          class="user-avatar-mobile"
          mat-button
          [matMenuTriggerFor]="menu"
        >
          {{ (loggedUser$ | async)?.name }}
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu class="user-mobile-menu" #menu="matMenu">
          <app-user-controls
            (logout)="logout()"
            (editProfile)="editUserProfile()"
            *ngIf="loggedIn$ | async"
          >
            Logout
          </app-user-controls>
        </mat-menu>
      </div>
    </div>
  </app-toolbar>

  <main class="content-area">
    <router-outlet></router-outlet>
  </main>
</app-layout>
