@import "variables";

app-layout {
  display: flex;
  width: 100%;
  flex-flow: column;
  height: 100%;
  overflow-x: hidden;
}

.content-area {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
